<header class="main-header" th:fragment="header" ng-controller="headerController">

	<link type="text/css" href="'/stars/css/common/header.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/common/header.css?buildstamp='+${buildstamp}" rel="stylesheet">
	
	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
	    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="23" viewBox="0 0 31 22">
	       	<path  class="support-graphic" data-name="Top-rt-hamburger copy" d="M21,0H0V4H21V0ZM13,6H0v4H13V6Zm12,6H0v4H25V12Zm6,6H0v4H31V18Z"/>
	   	</svg>
	    <!--<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>--> 
	</a>
	
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
	    <!-- Sidebar toggle button--> 
	    <!-- Logo --> 
	    <a href="/home" th:href="@{/home}" class="logo" title="">
	        <!-- logo for regular state and mobile devices --> 
	        <span class="logo-lg">
	            <!--Logo --> 
	            <img src="'/stars/images/logo-inside.jpg?buildstamp='+${buildstamp}" th:src="@{/}+'images/logo-inside.jpg?buildstamp='+${buildstamp}" alt="" />
	            <!--Ends Logo --> 
	        </span>
	    </a>
	    <!--header search-->
	    <div class="top-search hide">
	        <div class="searh-box-inside">
	            <input type="text" class="form-control" placeholder="Search" />
	            <span class="seach-btn-scope">
	            <button class="execute-btn" type="button">
	            <span class="fa fa-microphone"></span>
	            </button>
	            </span>
	        </div>
	        <!-- /input-group --> 
	    </div>
	    <!--end header search-->
	     <button ng-click="openOldStar()" aria-controls="User-list" tabindex="0" class="btn-default btn switch-account"><i class="icon-object">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 389.691 389.691" style="enable-background:new 0 0 389.691 389.691;" xml:space="preserve" width="28px" height="28px">
            <g>
              <path class="icon-graphic" d="M152.678,30h3.494c25.314,0,45.945,20.443,46.246,45.689h30.002C232.115,33.902,198.027,0,156.172,0h-3.494   C110.82,0,76.732,33.902,76.43,75.689h30.001C106.731,50.443,127.361,30,152.678,30z" fill="#D80027"></path>
              <path class="icon-graphic" d="M291.168,205.117V92.189c0-3.313-2.688-6-6-6H23.682c-3.315,0-6,2.687-6,6v223.869c0,16.542,13.457,30,30,30h153.074   c16.393,26.182,45.49,43.633,78.592,43.633c51.094,0,92.662-41.568,92.662-92.662C372.01,249.939,336.701,210.94,291.168,205.117z    M89.049,144.02c-9.511,0-17.248-7.737-17.248-17.248c0-9.512,7.737-17.249,17.248-17.249c9.51,0,17.246,7.737,17.246,17.249   C106.295,136.282,98.559,144.02,89.049,144.02z M202.553,126.771c0-9.512,7.736-17.249,17.246-17.249   c9.512,0,17.25,7.737,17.25,17.249c0,9.511-7.738,17.248-17.25,17.248C210.289,144.02,202.553,136.282,202.553,126.771z    M278.014,364.691c-37.369,0-67.662-30.293-67.662-67.662c0-37.369,30.293-67.662,67.662-67.662s67.662,30.293,67.662,67.662   C345.676,334.398,315.383,364.691,278.014,364.691z" fill="#D80027"></path>
              <path class="icon-graphic" d="M302.848,280.625h-8.429v-8.429c0-9.061-7.345-16.404-16.404-16.404c-9.06,0-16.404,7.344-16.404,16.404v8.429h-8.429   c-9.061,0-16.404,7.345-16.404,16.404s7.344,16.404,16.404,16.404h8.429v8.429c0,9.059,7.345,16.404,16.404,16.404   c9.06,0,16.404-7.346,16.404-16.404v-8.429h8.429c9.059,0,16.404-7.345,16.404-16.404S311.906,280.625,302.848,280.625z" fill="#D80027"></path>
            </g>
          </svg>
          </i> Switch to Old STAR</button>
	    
	    
	    
	    <div class="navbar-custom-menu pull-right">
	        <ul class="nav navbar-nav">
	            <li class="dropdown user user-menu">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                	<span class="userInfo" ng-bind="loggedInUser.fullName+' ( '+ loggedInUser.siteName+' )'"></span>
	                    
	                    <img class="user-image" ng-src="{{loggedInUserImageURL}}">
	                    
	                    <!--<span class="hidden-xs">Gerard Pique (MIND)</span>--> 
	                    <i>
	                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 160 160" enable-background="new 0 0 160 160" xml:space="preserve">
	                            <g>
	                                <path class="dropdown-arrow-graphic" d="M159.64,48.804c0,1.384-0.534,2.608-1.597,3.671L83.67,126.848c-1.064,1.064-2.289,1.596-3.67,1.596c-1.384,0-2.608-0.531-3.671-1.596L1.957,52.475c-1.065-1.063-1.596-2.287-1.596-3.671c0-1.382,0.531-2.606,1.596-3.671l7.979-7.979c1.063-1.063,2.287-1.597,3.671-1.597c1.381,0,2.606,0.534,3.671,1.597L80,99.875l62.722-62.722c1.063-1.063,2.287-1.597,3.671-1.597c1.382,0,2.606,0.534,3.671,1.597l7.979,7.979C159.105,46.197,159.64,47.422,159.64,48.804z" />
	                            </g>
	                        </svg>
	                    </i>
	                </a>
	                <ul class="dropdown-menu dropdown-menu-right">
	                    <!-- <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> My profile</a></li>
	                    <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Account settings</a></li> -->
	                    <li><a href="/stars/appLogout" th:href="@{/appLogout}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
	                </ul>
	            </li>
	            <!-- Control Sidebar Toggle Button -->
	            <li class="hide">
	                <a href="#" data-toggle="control-sidebar" title="">
	                    <i class="nav-icons">
	                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 341.333 341.333" style="enable-background:new 0 0 341.333 341.333;" xml:space="preserve" width="24px" height="24px">
	                            <g>
	                                <rect class="grey-graphic" x="128" y="128" width="85.333" height="85.333"></rect>
	                                <rect x="0" y="0" width="85.333" height="85.333"></rect>
	                                <rect x="128" y="256" width="85.333" height="85.333"></rect>
	                                <rect x="0" y="128" width="85.333" height="85.333"></rect>
	                                <rect x="0" y="256" width="85.333" height="85.333"></rect>
	                                <rect x="256" y="0" width="85.333" height="85.333"></rect>
	                                <rect x="128" y="0" width="85.333" height="85.333"></rect>
	                                <rect x="256" y="128" width="85.333" height="85.333"></rect>
	                                <rect x="256" y="256" width="85.333" height="85.333"></rect>
	                            </g>
	                        </svg>
	                    </i>
	                </a>
	            </li>
	        </ul>
	    </div>
	</nav>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
	    	var encWinUserId 	= /*[[${session?.encWinUserId}]]*/ "0";
			var encDomainName 	= /*[[${session?.encDomainName}]]*/ "0";
			var encbaseStarUrl = /*[[${session?.baseStarUrl}]]*/ 0;
		/*]]>*/
	</script>
	
	
	<script type="text/javascript" src="'/stars/controllers/headerController.js?buildstamp='+${buildstamp}" th:src="@{/}+'controllers/headerController.js?buildstamp='+${buildstamp}"></script>
    
</header>