<aside class="main-sidebar" th:fragment="menu">
	<!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- sidebar-menu can be modified in AdminLTE.min.css in class ".main-sidebar, .left-side" width:230px; --> 
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview active">
                <a href="/home" th:href="@{/home}">
                    <i class="icon-object">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="40px" width="40px">
                            <g transform="translate(1 1)">
                                <g>
                                    <path class="icon-graphic" d="M244.76,343.747c3.413,0.853,6.827,0.853,10.24,0.853c16.213,0,30.72-9.387,38.4-23.893
                                        c1.707-4.267,4.267-9.387,6.827-14.507c7.68-14.507,14.507-29.867,23.04-44.373l24.747-40.96
                                        c1.707-3.413,0.853-6.827-1.707-10.24c-2.56-3.413-6.827-3.413-10.24-1.707l-40.96,24.747
                                        c-14.507,8.533-29.867,16.213-44.373,23.04c-4.267,1.707-9.387,4.267-14.507,6.827c-17.92,9.387-27.307,29.013-23.04,48.64
                                        C216.6,327.533,229.4,340.333,244.76,343.747z M243.907,278.893c4.267-2.56,9.387-4.267,14.507-6.827
                                        c15.36-7.68,31.573-15.36,46.08-23.893l11.093-6.827l-6.827,11.093c-9.387,15.36-17.067,30.72-23.893,46.08
                                        c-1.707,5.12-4.267,9.387-6.827,14.507c-5.12,11.093-17.067,16.213-29.013,13.653c-9.387-1.707-17.067-9.387-18.773-18.773
                                        C227.693,295.96,232.813,284.013,243.907,278.893z"/>
                                    <path class="icon-graphic" d="M492.719,207.208c-0.108-0.575-0.27-1.146-0.492-1.702c-0.223-0.558-0.507-1.069-0.837-1.537
                                        c-12.787-30.616-31.365-58.265-54.348-81.565c-0.324-0.482-0.701-0.944-1.135-1.378s-0.896-0.811-1.378-1.135
                                        C388.233,74.226,324.764,45.933,255,45.933c-33.418,0-65.389,6.5-94.725,18.281c-0.575,0.108-1.146,0.27-1.701,0.492
                                        c-0.557,0.223-1.069,0.507-1.537,0.837c-30.616,12.787-58.265,31.365-81.565,54.348c-0.482,0.324-0.944,0.701-1.378,1.135
                                        s-0.812,0.896-1.135,1.378C27.293,168.7-1,232.169-1,301.933c0,58.027,18.773,113.493,55.467,158.72
                                        c1.707,2.56,4.267,3.413,6.827,3.413h387.413c2.56,0,5.12-0.853,6.827-3.413C492.227,415.427,511,359.96,511,301.933
                                        C511,268.515,504.5,236.544,492.719,207.208z M445.293,447H65.56c-11.539-14.88-21.122-30.844-28.695-47.616l23.575-9.557
                                        c4.267-1.707,5.973-6.827,4.267-11.093c-1.707-4.267-6.827-5.973-11.093-4.267l-23.11,9.369
                                        c-8.574-23.342-13.394-48.021-14.278-73.369H75.8c5.12,0,8.533-3.413,8.533-8.533S80.92,293.4,75.8,293.4H16.237
                                        c0.957-26.907,6.416-52.715,15.648-76.694L55.32,226.84c0.853,0.853,2.56,0.853,3.413,0.853c3.413,0,5.973-1.707,7.68-5.12
                                        c1.707-4.267,0-9.387-4.267-11.093l-23.672-10.237c10.699-22.831,24.906-43.721,41.922-61.967l17.59,17.59
                                        c1.707,1.707,3.413,2.56,5.973,2.56s4.267-0.853,5.973-2.56c3.413-3.413,3.413-8.533,0-11.947l-17.59-17.59
                                        c19.117-17.828,41.131-32.581,65.244-43.438l9.52,23.482c0.853,3.413,4.267,5.12,7.68,5.12c0.853,0,1.707,0,3.413-0.853
                                        c4.267-1.707,5.973-6.827,4.267-11.093l-9.329-23.012c23.021-8.463,47.679-13.452,73.329-14.364v59.563
                                        c0,5.12,3.413,8.533,8.533,8.533s8.533-3.413,8.533-8.533V63.17c26.907,0.957,52.715,6.416,76.694,15.648l-10.134,23.436
                                        c-1.707,4.267,0,9.387,4.267,11.093c0.853,0.853,2.56,0.853,3.413,0.853c3.413,0,6.827-2.56,7.68-5.12l10.237-23.672
                                        c22.831,10.699,43.721,24.906,61.967,41.922l-17.59,17.59c-3.413,3.413-3.413,8.533,0,11.947c1.707,1.707,3.413,2.56,5.973,2.56
                                        c1.707,0,4.267-0.853,5.973-2.56l17.59-17.59c17.828,19.117,32.581,41.131,43.438,65.244l-23.482,9.52
                                        c-4.267,1.707-5.973,6.827-4.267,11.093c0.853,3.413,4.267,5.12,7.68,5.12c0.853,0,1.707-0.853,3.413-0.853l23.013-9.329
                                        c8.463,23.021,13.452,47.679,14.364,73.329H434.2c-5.12,0-8.533,3.413-8.533,8.533s3.413,8.533,8.533,8.533h59.575
                                        c-0.927,26.593-6.172,52.45-15.418,76.799l-23.677-10.239c-4.267-1.707-9.387,0-11.093,4.267c-1.707,4.267,0,9.387,4.267,11.093
                                        l23.981,10.37C464.644,418.298,455.773,433.121,445.293,447z"/>
                                    <path class="icon-graphic" d="M246.467,353.133c-51.2,0-91.307,25.6-102.4,65.707c0,2.56,0,5.973,1.707,7.68c1.707,2.56,4.267,3.413,6.827,3.413
                                        h187.733c2.56,0,5.12-0.853,6.827-3.413c1.707-2.56,2.56-5.12,1.707-7.68C336.92,378.733,297.667,353.133,246.467,353.133z
                                        M251.302,412.867l-14.222-21.333c-2.56-4.267-7.68-5.12-11.947-2.56c-4.267,2.56-5.12,7.68-2.56,11.947l7.964,11.947H165.4
                                        c12.8-26.453,43.52-42.667,81.92-42.667c37.547,0,68.267,16.213,81.067,42.667H251.302z"/>
                                </g>
                            </g>
                        </svg>
                    </i>
                    <span>Home</span> 
                </a>
            </li>
            <li>
                <a href="#" onclick="$('#travel-type-popup').addClass('overlay-alert-popup-show');">
                    <i class="icon-object">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 100 100">
                            <path class="icon-graphic" d="M95.309,5.25H4.686A4.693,4.693,0,0,0,0,9.937V70.873a4.693,4.693,0,0,0,4.686,4.688H38.911L37.635,89.623H26.561a1.563,1.563,0,1,0,0,3.126H73.436a1.563,1.563,0,0,0,0-3.126H62.361L61.084,75.561H95.309A4.693,4.693,0,0,0,100,70.873V9.937A4.693,4.693,0,0,0,95.309,5.25ZM40.77,89.623l1.279-14.062h15.9l1.279,14.062H40.77Zm56.1-18.75a1.563,1.563,0,0,1-1.562,1.562H4.686a1.563,1.563,0,0,1-1.562-1.562V63.062H96.871v7.812Zm0-10.937H3.124v-50A1.564,1.564,0,0,1,4.686,8.375H95.309a1.564,1.564,0,0,1,1.562,1.563v50ZM49.133,31.976L37.45,26.136a5.361,5.361,0,0,0,.048-0.574c0-6.133-3.432-10.938-7.811-10.938s-7.813,4.8-7.813,10.938a5.451,5.451,0,0,0,.047.574l-11.682,5.84a1.565,1.565,0,0,0-.865,1.4V36.5a1.563,1.563,0,0,0,1.562,1.563H23.778L24.764,42,17.945,46.1a1.562,1.562,0,0,0-.759,1.341V49a1.562,1.562,0,0,0,1.562,1.563h6.2c0.665,2.076,2.3,4.687,4.745,4.687s4.071-2.612,4.733-4.687h6.2A1.564,1.564,0,0,0,42.187,49V47.437a1.56,1.56,0,0,0-.758-1.339l-6.822-4.092,0.987-3.944H48.435A1.561,1.561,0,0,0,50,36.5V33.374A1.562,1.562,0,0,0,49.133,31.976Zm-2.26,2.961h-12.5a1.56,1.56,0,0,0-1.516,1.185L31.3,42.371a1.564,1.564,0,0,0,.712,1.719l5.578,3.347h-4.4a1.593,1.593,0,0,0-1.555,1.409c-0.183,1.508-1.416,3.279-1.95,3.279s-1.758-1.77-1.949-3.347a1.561,1.561,0,0,0-1.546-1.341h-4.4l5.579-3.348a1.564,1.564,0,0,0,.711-1.719l-1.562-6.25A1.564,1.564,0,0,0,25,34.937H12.5v-0.6l9.744-4.871,0.185,1.115a1.562,1.562,0,0,0,3.093-.437C25.07,26.281,25,25.6,25,25.562c0-4.234,2.146-7.812,4.689-7.812s4.686,3.578,4.687,7.741c-0.006.11-.072,0.79-0.525,4.654a1.562,1.562,0,0,0,3.092.437l0.187-1.115,9.744,4.873v0.6ZM28.123,24h3.125v3.125H28.123V24ZM71.091,13.063A11.718,11.718,0,1,0,82.81,24.781,11.73,11.73,0,0,0,71.091,13.063Zm0,20.312a8.594,8.594,0,1,1,8.594-8.593A8.6,8.6,0,0,1,71.091,33.374ZM71.873,24V20.875H68.747v4.687a1.562,1.562,0,0,0,1.562,1.563H75V24H71.873ZM53.122,39.624H70.31V42.75H53.122V39.624Zm21.876,0H89.06V42.75H75V39.624Zm-21.876,12.5H71.873v3.125H53.122V52.124Zm23.439,0h12.5v3.125h-12.5V52.124Zm-23.439-6.25h7.813V49H53.122V45.874Zm12.5,0H89.06V49H65.623V45.874ZM45.311,66.187h9.374v3.125H45.311V66.187Zm3.125,14.062h3.124v3.125H48.435V80.249Z"/>
                        </svg>
                    </i>
                    <span>Create</span><i class="fa fa-angle-down pull-right"></i>
                </a>
                <!--<ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Purchase Category</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Commodity /Sub Commodity</a></li>
                    </ul>-->
            </li>
            <li>
                <a href="/request/approve" th:href="@{/request/approve}">
                    <i class="icon-object">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100">
                            <path id="Approve" class="icon-graphic" d="M98.043,23.764a5.8,5.8,0,0,1-5.858-5.729,1.932,1.932,0,0,0-1.953-1.91H9.764a1.932,1.932,0,0,0-1.954,1.91,5.8,5.8,0,0,1-5.858,5.729A1.932,1.932,0,0,0,0,25.673V75.325a1.931,1.931,0,0,0,1.953,1.909A5.8,5.8,0,0,1,7.81,82.964a1.932,1.932,0,0,0,1.954,1.91H90.232a1.932,1.932,0,0,0,1.953-1.91,5.8,5.8,0,0,1,5.858-5.729A1.931,1.931,0,0,0,100,75.325V25.673A1.932,1.932,0,0,0,98.043,23.764ZM95.829,72.374A11.679,11.679,0,0,0,87.5,80.707H70.832l-0.522-5.381a1.953,1.953,0,0,0-3.906,0l0.26,5.381H14.581c-0.78-3.736-6.6-7.572-10.416-8.332V28.625A11.685,11.685,0,0,0,12.5,20.291H66.664L66.4,25.673a1.933,1.933,0,0,0,1.954,1.91c1.079,0,2.475.013,2.475-1.041v-6.25H87.5a11.682,11.682,0,0,0,8.331,8.333v43.75ZM59.434,49.44a14.6,14.6,0,0,0-12.666-6.264l-5.155.262L32.126,28.486a1.964,1.964,0,0,0-1.659-.9H26.56a1.97,1.97,0,0,0-1.514.7,1.88,1.88,0,0,0-.4,1.591l3,14.274c-7.875.412-4.755,0.36-5.457,0.447L17.2,37.914a1.969,1.969,0,0,0-1.577-.783H9.764a1.962,1.962,0,0,0-1.615.837,1.871,1.871,0,0,0-.2,1.776c1.42,3.507,3.629,9,4.3,10.755-0.674,1.759-2.883,7.248-4.3,10.755a1.87,1.87,0,0,0,.2,1.777,1.964,1.964,0,0,0,1.615.836h5.86a1.969,1.969,0,0,0,1.577-.783L22.193,56.4c0.695,0.086-2.437.035,5.455,0.447l-3,14.274a1.882,1.882,0,0,0,.4,1.591,1.973,1.973,0,0,0,1.514.7h3.907a1.963,1.963,0,0,0,1.659-.9L41.613,57.56l5.168,0.262a14.594,14.594,0,0,0,12.654-6.265A1.87,1.87,0,0,0,59.434,49.44ZM46.97,54.008l-6.305-.321a1.963,1.963,0,0,0-1.763.9L29.381,69.6H28.956L31.933,55.44a1.875,1.875,0,0,0-.367-1.552c-0.349-.44-1.832-0.235-2.4-0.264-10.535-.591-6.554,1.316-8.333,0l0.823-1.173a1.972,1.972,0,0,0-1.911.755l-5.113,6.843H12.638c3.635-8.991,3.635-9.111,3.635-9.549s0-.557-3.635-9.548h1.993l5.113,6.842c0.438,0.587.357-.294,1.088-0.419h0c1.779-.3-2.179.59,8.333,0,0.569-.029,2.052.177,2.4-0.264a1.876,1.876,0,0,0,.367-1.552L28.956,31.4h0.423L38.9,46.411a1.967,1.967,0,0,0,1.763.9l6.293-.32a10.687,10.687,0,0,1,8.4,3.508A10.693,10.693,0,0,1,46.97,54.008ZM89.2,46.714a11.177,11.177,0,1,1-6.4-7.51l1.662-2.672a14.38,14.38,0,1,0,6.835,6.815Zm2.668-13.181a2.612,2.612,0,0,0-3.6.835L77.879,51.057,74.4,46.095a2.612,2.612,0,0,0-4.277,3l5.747,8.2A2.615,2.615,0,0,0,78.008,58.4H78.08a2.615,2.615,0,0,0,2.146-1.229L92.7,37.13A2.609,2.609,0,0,0,91.865,33.532Z"/>
                        </svg>
                    </i>
                    <span>Approve</span>
                </a>
                <!-- <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Budget Master</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Budget Approve </a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Site Budget Head Access </a></li>
                    </ul>-->
            </li>
            <!-- <li>
                <a href="#">
                    <i class="icon-object">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100">
                            <path class="icon-graphic"  d="M99.008,79.8h0V1.836A1.74,1.74,0,0,0,97.159,0H13.934a1.741,1.741,0,0,0-1.85,1.837V25.509h3.7V3.673H95.31V77.958H78.664a1.743,1.743,0,0,0-1.85,1.837v16.53H15.783V76.938h-3.7V98.162A1.741,1.741,0,0,0,13.934,100h64.73a1.684,1.684,0,0,0,1.295-.551L98.452,81.081c0.186-.183.186-0.367,0.371-0.551V80.346A0.672,0.672,0,0,0,99.008,79.8Zm-18.5,1.837H92.72l-6.1,6.061-6.1,6.061V81.632h0ZM25.03,67.754H43.525V64.081H37.976v-34.9a1.741,1.741,0,0,0-1.849-1.837H25.03a1.741,1.741,0,0,0-1.849,1.837V40.2H13.934a1.741,1.741,0,0,0-1.85,1.837v7.347H2.836a1.742,1.742,0,0,0-1.85,1.837V65.917a1.742,1.742,0,0,0,1.85,1.837H25.03ZM26.88,31.02h7.4V64.081h-7.4V31.02Zm-11.1,12.857h7.4v20.2h-7.4v-20.2Zm-11.1,9.184h7.4v11.02h-7.4V53.061ZM87.912,42.04V10.816a1.742,1.742,0,0,0-1.848-1.837H47.223a1.742,1.742,0,0,0-1.851,1.837V42.04a1.742,1.742,0,0,0,1.851,1.837h38.84A1.742,1.742,0,0,0,87.912,42.04ZM84.212,20H62.019V12.652H84.212V20ZM58.321,12.652V20H49.072V12.652h9.248Zm-9.248,11.02h9.248V40.2H49.072V23.673ZM62.019,40.2V23.673H84.212V40.2H62.019Zm-14.8,9.184h38.84v3.673H47.223V49.387Zm0,9.183h38.84v3.674H47.223V58.57Zm0,9.184h38.84v3.673H47.223V67.754ZM21.332,18.163H37.976v3.673H21.332V18.163Zm0,59.8H34.277v3.674H21.332V77.958Zm18.493,0H52.772v3.674H39.825V77.958Zm18.5,0H71.266v3.674H58.321V77.958ZM21.332,87.142H34.277v3.673H21.332V87.142Zm18.493,0H52.772v3.673H39.825V87.142Zm18.5,0H71.266v3.673H58.321V87.142Z"/>
                        </svg>
                    </i>
                    <span>Report</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Create/edit Requisition</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Approve Requisition</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>My Complete Requisition</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Requisition Status</a></li>
                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Search</a></li>
                    </ul>
            </li> -->
        </ul>
        <!-- /.sidebar-menu --> 
    </section>
    <!-- /.sidebar --> 
</aside>
