<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title th:text="#{app.name.desc}">STARS</title>
		
		<!--**************************************** Tab Icons ****************************************-->
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="icon" type="image/x-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="shortcut icon" type="image/x-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="shortcut icon" type="image/ico">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="apple-touch-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="apple-touch-icon-precomposed">
		
		<!--**************************************** CSS Files ****************************************-->
		<link type="text/css" href="'/stars/plugins/angucomplete/css/angucomplete-alt.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/angucomplete/css/angucomplete-alt.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<!-- <link type="text/css" href="'/stars/plugins/angucomplete/css/structure.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/angucomplete/css/structure.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet"> -->
		
		
		<link type="text/css" href="'/stars/plugins/bootstrap-3.3.7/css/bootstrap.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/bootstrap-3.3.7/css/bootstrap.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/plugins/font-awesome-4.7.0/css/font-awesome.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/font-awesome-4.7.0/css/font-awesome.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		
        <link type="text/css" href="'/stars/css/AdminLTE.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/AdminLTE.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/css/skin/_all-skins.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/skin/_all-skins.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/css/screen.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/screen.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		
        <!--**************************************** JavaScript Files *********************************-->
        <script type="text/javascript" src="'/stars/plugins/angular-1.7.2/angular.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'plugins/angular-1.7.2/angular.min.js?buildstamp='+${buildstamp}"></script>
       	<script type="text/javascript" src="'/stars/js/app.config.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/app.config.js?buildstamp='+${buildstamp}"></script>
        
        <script type="text/javascript" src="'/stars/js/jquery-3.2.1.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/jquery-3.2.1.min.js?buildstamp='+${buildstamp}"></script>
		<!-- <script type="text/javascript" src="'/stars/js/jquery-3.3.1.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/jquery-3.3.1.min.js?buildstamp='+${buildstamp}"></script> --> 
		<script type="text/javascript" src="'/stars/plugins/bootstrap-3.3.7/js/bootstrap.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'plugins/bootstrap-3.3.7/js/bootstrap.min.js?buildstamp='+${buildstamp}"></script>
		 
		<script type="text/javascript" src="'/stars/js/app.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/app.min.js?buildstamp='+${buildstamp}"></script>
        
        <script type="text/javascript" src="'/stars/plugins/angucomplete/js/angucomplete-alt.js?buildstamp='+${buildstamp}" th:src="@{/}+'/plugins/angucomplete/js/angucomplete-alt.js?buildstamp='+${buildstamp}"></script>
        <script type="text/javascript" src="'/stars/plugins/angularjs-dropdown-multiselect/js/angularjs-dropdown-multiselect.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'/plugins/angularjs-dropdown-multiselect/js/angularjs-dropdown-multiselect.min.js?buildstamp='+${buildstamp}"></script>
        
	</head>
	
	<body class="hold-transition skin-red sidebar-mini sidebar-collapse" ng-app="app-dashboard">
		
		<input type="hidden" name="apiBaseUrl" id="apiBaseUrl" th:value="${@environment.getProperty('stars.api.baseurl')}" ng-model="apiBaseUrl" data-th-attr="ng-init='apiBaseUrl=\''+${@environment.getProperty('stars.api.baseurl')}+'\''">
		<input type="hidden" name="requestSource" id="requestSource" th:value="${@environment.getProperty('request.source')}" ng-model="requestSource" data-th-attr="ng-init='requestSource=\''+${@environment.getProperty('request.source')}+'\''">
		<input type="hidden" name="systemName" id="systemName" th:value="${@environment.getProperty('system.name')}" ng-model="systemName" data-th-attr="ng-init='systemName=\''+${@environment.getProperty('system.name')}+'\''">
		
		<input type="hidden" name="winUserId" id="winUserId" th:value="${session?.user?.winUserId}" th:unless="${session == null}" ng-model="winUserId" data-th-attr="ng-init='winUserId=\''+${session?.user?.winUserId}+'\''">
	   	<input type="hidden" name="domainName" id="domainName" th:value="${session?.user?.domainName}" th:unless="${session == null}" ng-model="domainName" data-th-attr="ng-init='domainName=\''+${session?.user?.domainName}+'\''">
	   	<input type="hidden" name="ipAddress" id="ipAddress" th:value="${session?.user?.ipAddress}" th:unless="${session == null}" ng-model="ipAddress" data-th-attr="ng-init='ipAddress=\''+${session?.user?.ipAddress}+'\''">
	   	<input type="hidden" name="userId" id="userId" th:value="${session?.user?.userId}" th:unless="${session == null}" ng-model="userId" data-th-attr="ng-init='userId=\''+${session?.user?.userId}+'\''">
	   	<input type="hidden" name="siteId" id="siteId" th:value="${session?.user?.siteId}" th:unless="${session == null}" ng-model="siteId" data-th-attr="ng-init='siteId=\''+${session?.user?.siteId}+'\''">
	
		<div class="wrapper wrapper-scope">
		
			<header th:replace="common/header :: header">Header</header>
			
			<aside th:replace="common/menu :: menu">Menu</aside>
			
			<div th:replace="${view} :: content">Content</div>
			
			<footer th:replace="common/footer :: footer">Footer</footer>
			
		</div>
		
		<div id="travel-type-popup" class="travel-type-popup overlay-alert-popup">
	        <div class="alert-popup confirm">
	        	<a class="close" href="#" onclick="$('#travel-type-popup').removeClass('overlay-alert-popup-show');">&times;</a>
	            <div class="content">
	                <div class="message-content">
	                	<p>Select Travel Request type</p>
	                </div>
	                <div class="action-scope">
	                	<form id="acceptPolicyForm" class="modal-content" action="/stars/request/create" th:action="@{/request/create}" method="POST">
							<input type="hidden" name="travelType" id="travelType" th:value="D">
							<input type="hidden" name="groupTravelFlag" id="groupTravelFlag" th:value="N">
						</form>
						<div class="custome-field domestic travel-type-label-domestic" onclick="createRequest('D', 'N');">
		                    Domestic
		                    <span class="icon-scope-box">
		                    	<i>
									<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 473.76 463.64" width="19px" height="19px"> 
										<path d="M309.47,89.69l24.36,23.51-40.12,91.5L318.56,229l58.19-74.39,27.58,26.62,1.73,24.85,26,25.45L452.42,191l42.37-21.81-26.1-25.54-24.89-1.19-28-27.69L488.8,55,464,30.7,373.4,72.79,349.28,48.93a28.49,28.49,0,1,0-39.81,40.76ZM317,205.76l-4.77-4.66,33.5-76.39,19.76,19.06ZM460.76,49.32,465.53,54l-60.84,49.76L385.18,84.45ZM320.1,60.24A13,13,0,0,1,338.38,60l98.73,97.65,24.94,1.19,6.48,6.34-27.72,14.27-13.09,26.09-6.57-6.43-1.74-24.92L320.3,78.55a13,13,0,0,1-.2-18.31Z" transform="translate(-21.03 -24.67)"></path>
										<path d="M463.57,245.77c0,.1,0,.2,0,.3H262V145.79h31.91V126.25H262V44.44A212,212,0,0,1,297,49l4.13-19.1a232.52,232.52,0,0,0-48.95-5.2C124.73,24.67,21,128.37,21,255.84a229.88,229.88,0,0,0,41,131.31V388h.62A231.16,231.16,0,0,0,237.12,486.5a74.89,74.89,0,0,0,33.81-.25C389.67,476.68,483.37,377,483.37,255.84c0-3.37-.08-6.72-.22-10.07ZM193.14,52.6c-11.75,11.19-22.54,25.75-32,43.45a255.89,255.89,0,0,0-13.65,30.2H85A212.3,212.3,0,0,1,193.14,52.6ZM71.49,145.79h69.36c-9.25,30.55-14.57,64.71-15.49,100.28H40.8A210.19,210.19,0,0,1,71.49,145.79ZM40.8,265.61h84.51c.72,36.5,6.07,71.58,15.54,102.88H73.12A210.2,210.2,0,0,1,40.8,265.61ZM87.06,388h60.42a254.27,254.27,0,0,0,13.65,30.2c8.45,15.79,18,29.09,28.25,39.73A212.28,212.28,0,0,1,87.06,388Zm155.37,79.21-2.31-.12c-22.92-5.67-44.48-25.8-61.77-58.11a230.41,230.41,0,0,1-9.87-21h74Zm0-98.75H161.31c-10-30.84-15.71-66-16.46-102.88h97.58Zm0-122.42H144.9c1-35.92,6.62-70.17,16.41-100.28h81.12Zm0-119.82h-74a230.41,230.41,0,0,1,9.87-21c17.88-33.4,40.3-53.78,64.08-58.63ZM262,265.61H362.15c-.75,36.86-6.43,72-16.46,102.88H262Zm5.74,201.29c-1.9.14-3.82.25-5.74.34V388h76.55a230.41,230.41,0,0,1-9.87,21C311.57,440.93,290.32,461,267.71,466.9Zm51.09-10.17c9.84-10.43,18.95-23.31,27.08-38.5A257.52,257.52,0,0,0,359.53,388h57.81A212.38,212.38,0,0,1,318.8,456.73Zm47.35-88.24c9.47-31.3,14.82-66.38,15.54-102.88H463.6a210.2,210.2,0,0,1-32.32,102.88Z" transform="translate(-21.03 -24.67)"></path>
										<path d="M309.47,89.69l24.36,23.51-40.12,91.5L318.56,229l58.19-74.39,27.58,26.62,1.73,24.85,26,25.45L452.42,191l42.37-21.81-26.1-25.54-24.89-1.19-28-27.69L488.8,55,464,30.7,373.4,72.79,349.28,48.93a28.49,28.49,0,1,0-39.81,40.76ZM317,205.76l-4.77-4.66,33.5-76.39,19.76,19.06ZM460.76,49.32,465.53,54l-60.84,49.76L385.18,84.45ZM320.1,60.24A13,13,0,0,1,338.38,60l98.73,97.65,24.94,1.19,6.48,6.34-27.72,14.27-13.09,26.09-6.57-6.43-1.74-24.92L320.3,78.55a13,13,0,0,1-.2-18.31Z" transform="translate(-21.03 -24.67)"></path>
										<path d="M463.57,245.77c0,.1,0,.2,0,.3H262V145.79h31.91V126.25H262V44.44A212,212,0,0,1,297,49l4.13-19.1a232.52,232.52,0,0,0-48.95-5.2C124.73,24.67,21,128.37,21,255.84a229.88,229.88,0,0,0,41,131.31V388h.62A231.16,231.16,0,0,0,237.12,486.5a74.89,74.89,0,0,0,33.81-.25C389.67,476.68,483.37,377,483.37,255.84c0-3.37-.08-6.72-.22-10.07ZM193.14,52.6c-11.75,11.19-22.54,25.75-32,43.45a255.89,255.89,0,0,0-13.65,30.2H85A212.3,212.3,0,0,1,193.14,52.6ZM71.49,145.79h69.36c-9.25,30.55-14.57,64.71-15.49,100.28H40.8A210.19,210.19,0,0,1,71.49,145.79ZM40.8,265.61h84.51c.72,36.5,6.07,71.58,15.54,102.88H73.12A210.2,210.2,0,0,1,40.8,265.61ZM87.06,388h60.42a254.27,254.27,0,0,0,13.65,30.2c8.45,15.79,18,29.09,28.25,39.73A212.28,212.28,0,0,1,87.06,388Zm155.37,79.21-2.31-.12c-22.92-5.67-44.48-25.8-61.77-58.11a230.41,230.41,0,0,1-9.87-21h74Zm0-98.75H161.31c-10-30.84-15.71-66-16.46-102.88h97.58Zm0-122.42H144.9c1-35.92,6.62-70.17,16.41-100.28h81.12Zm0-119.82h-74a230.41,230.41,0,0,1,9.87-21c17.88-33.4,40.3-53.78,64.08-58.63ZM262,265.61H362.15c-.75,36.86-6.43,72-16.46,102.88H262Zm5.74,201.29c-1.9.14-3.82.25-5.74.34V388h76.55a230.41,230.41,0,0,1-9.87,21C311.57,440.93,290.32,461,267.71,466.9Zm51.09-10.17c9.84-10.43,18.95-23.31,27.08-38.5A257.52,257.52,0,0,0,359.53,388h57.81A212.38,212.38,0,0,1,318.8,456.73Zm47.35-88.24c9.47-31.3,14.82-66.38,15.54-102.88H463.6a210.2,210.2,0,0,1-32.32,102.88Z" transform="translate(-21.03 -24.67)"></path>
									</svg>
                              	</i>
                            </span>
		                </div>
		                <div class="custome-field international travel-type-label-international" onclick="createRequest('I', 'N');">
		                    International
		                    <span class="icon-scope-box">
		                        <i>
		                            <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px"
		                                viewBox="0 0 188.433 188.433" style="enable-background:new 0 0 188.433 188.433;" xml:space="preserve">
		                                <g>
		                                    <path d="M185.957,85.688l-10.582-10.582l7.563-25.388c0.576-1.938-0.043-4.383-1.472-5.811l-1.41-1.41
		                                        c-0.799-0.798-1.83-1.237-2.903-1.237c-1.401,0-2.691,0.751-3.452,2.008l-11.374,18.791l-17.644-17.644l0.684-6.838
		                                        c0.13-1.302-0.404-2.797-1.327-3.718l-1.846-1.846c-0.633-0.634-1.458-0.982-2.324-0.982c-1.166,0-2.219,0.625-2.817,1.671
		                                        l-3.858,6.752C118.606,26.047,99.341,18.44,79.421,18.44C35.628,18.44,0,54.069,0,97.862c0,30.368,17.698,58.486,45.088,71.637
		                                        c0.698,0.335,1.435,0.493,2.161,0.493c1.862,0,3.651-1.046,4.511-2.837c1.195-2.489,0.146-5.477-2.343-6.672
		                                        C25.472,148.988,10,124.408,10,97.862C10,59.583,41.142,28.44,79.421,28.44c17.43,0,34.288,6.664,47.045,18.407l-8.307,4.747
		                                        c-0.909,0.521-1.508,1.395-1.642,2.397s0.215,2.003,0.955,2.743l1.846,1.846c0.817,0.818,2.123,1.347,3.324,1.347
		                                        c0.135,0,0.267-0.007,0.395-0.02l8.203-0.82l17.215,17.215l-19.727,11.94c-1.11,0.673-1.832,1.761-1.98,2.986
		                                        c-0.148,1.225,0.293,2.453,1.211,3.37l1.408,1.408c1.04,1.04,2.682,1.687,4.285,1.687c0.535,0,1.049-0.072,1.527-0.215
		                                        l26.545-7.907L171.9,99.746c1.798,1.798,4.082,2.788,6.431,2.789h0.001c2.377,0,4.725-1.004,6.656-2.861l0.001,0.001l0.129-0.129
		                                        l-0.001-0.001C188.681,95.869,189.968,89.701,185.957,85.688z"/>
		                                    <path d="M66.565,156.742c4.11,1.059,7.895,1.691,12.895,1.87v-36.023c-10,0.152-16.781,1.11-23.683,2.624
		                                        C58.074,138.479,62.017,149.25,66.565,156.742z"/>
		                                    <path d="M57.916,153.937c-3.552-7.527-6.374-16.782-8.232-27.241c-7.165,2.078-12.922,4.783-16.886,7.748
		                                        C39.268,142.966,47.915,149.743,57.916,153.937z"/>
		                                    <path d="M85.459,122.616v35.95c3-0.226,7.636-0.824,11.358-1.768c4.563-7.495,8.501-18.287,10.805-31.587
		                                        C101.043,123.77,93.459,122.832,85.459,122.616z"/>
		                                    <path d="M104.946,154.037c10.068-4.169,18.777-10.947,25.292-19.493c-3.968-3.004-9.768-5.746-17.014-7.848
		                                        C111.359,137.201,108.521,146.492,104.946,154.037z"/>
		                                    <path d="M55.598,70.588c6.969,1.55,13.861,2.532,23.861,2.686V36.368c-5,0.188-9.326,0.889-13.628,2.047
		                                        C61.368,46.18,57.756,57.161,55.598,70.588z"/>
		                                    <path d="M53.279,95.216h26.18v-15.87c-10-0.148-17.384-0.64-24.809-2.25C53.99,82.639,53.372,88.216,53.279,95.216z"/>
		                                    <path d="M54.858,119.112c7.372-1.583,14.602-2.448,24.602-2.594v-16.301H53.285C53.404,107.216,54.091,113.238,54.858,119.112z"/>
		                                    <path d="M57.409,41.263C47.407,45.564,38.783,52.452,32.38,61.089c3.921,3.053,9.727,5.847,17.019,7.991
		                                        C51.162,58.444,53.91,48.993,57.409,41.263z"/>
		                                    <path d="M20.456,95.216h26.752c0.098-7,0.548-13.515,1.311-19.597c-8.004-2.268-14.687-5.118-19.506-8.78
		                                        C24.044,75.148,20.984,84.216,20.456,95.216z"/>
		                                    <path d="M114.177,120.575c7.973,2.238,14.654,5.243,19.499,8.862c5.276-8.56,8.503-17.221,8.996-29.221h-26.975
		                                        C115.571,107.216,115.051,114.157,114.177,120.575z"/>
		                                    <path d="M29.374,129.334c4.833-3.573,11.461-6.543,19.358-8.759c-0.874-6.417-1.394-13.359-1.519-20.359H20.444
		                                        C20.935,112.216,24.136,120.798,29.374,129.334z"/>
		                                    <path d="M85.459,95.216h24.171c-0.092-7-0.313-12.577-0.973-18.12c-7.085,1.536-15.197,2.014-23.197,2.226V95.216z"/>
		                                    <path d="M85.459,116.541c8,0.21,15.959,1.061,22.99,2.571c0.767-5.874,1.057-11.896,1.175-18.896H85.459V116.541z"/>
		                                    <path d="M85.459,36.414v36.833c8-0.219,15.711-1.18,22.358-2.659c-2.165-13.468-5.811-24.474-10.293-32.242
		                                        C93.612,37.31,89.459,36.652,85.459,36.414z"/>
		                                    <path d="M126.915,85.358l12.482-7.611c-1.259-3.579-2.854-6.996-4.743-10.27l-0.871-0.885c-4.811,3.624-11.444,6.78-19.392,9.032
		                                        c0.763,6.082,1.212,12.591,1.311,19.591h8.193c-0.561-2-0.788-2.818-0.622-4.189C123.552,88.727,124.879,86.59,126.915,85.358z"/>
		                                    <path d="M117.293,48.058l0.178-0.102c-3.716-2.699-7.744-4.994-12.025-6.812c3.524,7.752,6.293,17.244,8.065,27.936
		                                        c5.784-1.7,10.615-3.813,14.33-6.136l-3.461,0.347c-0.287,0.028-0.583,0.043-0.887,0.043c-2.653,0-5.54-1.171-7.354-2.983
		                                        l-0.433-0.433c-1.705-1.705-2.504-4.012-2.193-6.33C113.822,51.269,115.201,49.254,117.293,48.058z"/>
		                                </g>
		                            </svg>
		                        </i>
		                    </span>
		                </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <script type="text/javascript">
			function createRequest(travelType, groupTravelFlag) {
				$("#travelType").val(travelType);
				$("#groupTravelFlag").val(groupTravelFlag);
				$("#acceptPolicyForm").submit();
			}
		</script>
		
	</body>
	
</html>