<div class="content-wrapper hold-transition skin-red sidebar-mini sidebar-collapse" th:fragment="content" id="requestDetailsControllerId" ng-controller="requestDetailsController">

<link href="'/stars/plugins/select2/select2.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/select2/select2.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet" type="text/css">
<link type="text/css" href="'/stars/css/request/requestDetails.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/request/requestDetails.css?buildstamp='+${buildstamp}" rel="stylesheet">

	<section class="content-header">
	   <div class="box box-default">
	      <!--Breadcrumb -->
	      <ol class="breadcrumb">
	         <li class="breadcrumb-status">You are here <br>
	            <span class="active">Requisition Details</span>
	         </li>
	      </ol>
	      <!--Ends Breadcrumb --> 		  
	      <div class="new-btn-scope"><button class="btn btn-default btn-white" onclick="window.location.href='approve-screen.html'">Back to Approve Requisition</button></div>
	   </div>
	</section>
    
    <!--start page content -->
    <div class="page-content-scope">
	   <div class="travel-category-head">
	      <!--start box content-->
	      <div class="box box-default revex-open default-top-border">
	         <!--start view travel details-->
	         <div class="view-details-container">
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Request Details</h1>
	            </div>
	            <div class="container-scope">
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Requisition Number</strong></label>
	                        <span class="value">{{ requestDetails.requestNo }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Originator</strong></label>
	                        <span class="value">{{ requestDetails.originator.fullName }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Division</strong></label>
	                        <span class="value">{{ requestDetails.divisionName }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Unit</strong></label>
	                        <span class="value">{{ requestDetails.originator.siteName }}</span>
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Department</strong></label>
	                        <span class="value">{{ requestDetails.originator.departmentName }}</span>  
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Cost Center</strong></label>
	                        <span class="value">{{ requestDetails.originator.costCentreName }}</span>
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Originated on</strong></label>
	                        <span class="value">{{ requestDetails.creationDate }}</span>
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Reason For Travel</strong></label>
	                        <span class="value">{{ requestDetails.reasonForTravel }}</span> 
	                     </div>
	                  </div>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div ng-show = " requestDetails.groupTravelFlag == 'N' || requestDetails.groupTravelFlag == 'n' " class="heading-scope">
	               <h1>Traveller Information</h1>
	            </div>
	            <div ng-show = " requestDetails.groupTravelFlag == 'N' || requestDetails.groupTravelFlag == 'n' " class="container-scope">
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Traveller Name</strong></label>
	                        <span class="value">{{ requestDetails.traveller.firstName }} {{ requestDetails.traveller.lastName }}</span>  
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Emp. Code</strong></label>
	                        <span class="value">{{ requestDetails.traveller.empCode }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Designation</strong></label>
	                        <span class="value">{{ requestDetails.traveller.designationName }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Email ID</strong></label>
	                        <span class="value">{{ requestDetails.traveller.email }}</span> 
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Contact No.</strong></label>
	                        <span class="value">{{ requestDetails.traveller.contactNo }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Date Of Birth</strong></label>
	                        <span class="value">{{ requestDetails.traveller.dateOfBirth }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Gender</strong></label>
	                        <span class="value">{{ requestDetails.traveller.gender }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Meal Preference</strong></label>
	                        <span class="value">{{ requestDetails.traveller.mealPreferenceDesc }}</span> 
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Permanent Address</strong></label>
	                        <span class="value">{{ requestDetails.traveller.permanentAddress }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Current Address</strong></label>
	                        <span class="value">{{ requestDetails.traveller.currentAddress }}</span> 
	                     </div>
	                  </div>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div ng-show = " requestDetails.groupTravelFlag == 'Y' || requestDetails.groupTravelFlag == 'y' " class="heading-scope">
	               <h1>Group Travellers Information</h1>
	            </div>
	            <div ng-show = " requestDetails.groupTravelFlag == 'Y' || requestDetails.groupTravelFlag == 'y' " class="container-scope">
	               <div class="tab-body-content">
	                  <div class="comments-posted-list">
	                     <div class="table-responsive">
	                        <table class="table table table-striped table-bordered">
	                           <thead>
	                              <tr>
	                                 <th  height="0" colspan="12">Group Travellers Information</th>
	                              </tr>
	                           </thead>
	                           <tbody>
	                              <tr>
	                                 <td><strong>S No.</strong></td>
	                                 <td><strong>First Name</strong></td>
	                                 <td><strong>Last Name</strong></td>
	                                 <td><strong>Designation</strong></td>
	                                 <td><strong>Date of Birth</strong></td>
	                                 <td><strong>Gender</strong></td>
	                                 <td><strong>Email-Id</strong></td>
	                                 <td><strong>Employee Id</strong></td>
	                                 <td><strong>Meal Preference</strong></td>
	                                 <td><strong>Total Amt Required</strong></td>
	                                 <td><strong>Proof of Identity</strong></td>
	                                 <td><strong>Contact No.</strong></td>
	                              </tr>
	                              <tr ng-show="requestDetails.groupTravellerDetailsList.length > 0" ng-repeat="row in requestDetails.groupTravellerDetailsList" >
	                                 <td>{{ $index + 1}}</td>
	                                 <td>{{ row.firstName }}</td>
	                                 <td>{{ row.lastName }}</td>
	                                 <td>{{ row.designationName }}</td>
	                                 <td>{{ row.dateOfBirth }}</td>
	                                 <td>{{ row.genderDesc }}</td>
	                                 <td>{{ row.email }}</td>
	                                 <td>{{ row.empCode }}</td>
	                                 <td>{{ row.mealDesc }}</td>
	                                 <td>{{ row.totalAmount }}</td>
	                                 <td>{{ row.identityName }}</td>
	                                 <td>{{ row.mobileNumber }}</td>
	                              </tr>
	                           </tbody>
	                        </table>
	                     </div>
	                  </div>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Itinerary Information</h1>
	            </div>
	            <div class="container-scope">
	               <div class="row control-label" style="font-size: 14px !important;">
	                  <strong>Travel Details</strong>
	               </div>
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th>S.No.</th>
	                           <th>Journey</th>
	                           <th>Departure City</th>
	                           <th>Arrival City</th>
	                           <th>Departure Date</th>
	                           <th>Preferred Time</th>
	                           <th>Travel Mode</th>
	                           <th>Class</th>
	                           <th>Preferred Airline/Train/Cab</th>
	                           <th>Preferred Seat/Location</th>
	                           <th>Stay Type</th>
	                           <th ng-show="otherInfoFlag" >
	                              Other information
	                           </th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                        <tr ng-show="requestDetails.travelJourneyDetailDTOList.length > 0" ng-repeat="row in requestDetails.travelJourneyDetailDTOList">
	                           <td>{{ $index + 1 }}</td>
	                           <td>{{ row.journey }}</td>
	                           <td>{{ row.departure }}</td>
	                           <td>{{ row.arrival }}</td>
	                           <td>{{ row.departureDate }}</td>
	                           <td>{{ row.preferredTime }}</td>
	                           <td>{{ row.travelMode }}</td>
	                           <td>{{ row.travelClass }}</td>
	                           <td>{{ row.prefferedTravel }}</td>
	                           <td>{{ row.prefferedSeat }}</td>
	                           <td>{{ row.stayType }}</td>
	                           <td ng-show="travelType == 'D' &&((requestDetails.trainTravelFlag == 'Y') || (requestDetails.carTravelFlag == 'Y') )">{{ row.otherInfo }}</td>
	                        </tr>
	                        <tr ng-show="typeof(requestDetails.travelJourneyDetailDTOList) == 'undefined' || requestDetails.travelJourneyDetailDTOList.length == 0">
	                           <td ng-if="otherInfoFlag" colspan="12" align="center"> No Records !</td>
	                           <td ng-if="!otherInfoFlag" colspan="11" align="center"> No Records !</td>
	                        </tr>
	                        <tr>
	                           <td><strong>Flight Remarks</strong></td>
	                           <td ng-if="otherInfoFlag" colspan="11">{{requestDetails.flightJourneyDetails.flightJourneyRemarks }}</td>
	                           <td ng-if="!otherInfoFlag" colspan="10">{{requestDetails.flightJourneyDetails.flightJourneyRemarks }}</td>
	                        </tr>
	                        <tr>
	                           <td><strong>Train  Remarks</strong></td>
	                           <td ng-if="otherInfoFlag" colspan="11">{{requestDetails.trainJourneyDetails.trainJourneyRemarks }}</td>
	                           <td ng-if="!otherInfoFlag" colspan="10">{{requestDetails.trainJourneyDetails.trainJourneyRemarks }}</td>
	                        </tr>
	                        <tr>
	                           <td><strong>Car Remarks</strong></td>
	                           <td ng-if="otherInfoFlag" colspan="11">{{requestDetails.carJourneyDetails.carJourneyRemarks }}</td>
	                           <td ng-if="!otherInfoFlag" colspan="10">{{requestDetails.carJourneyDetails.carJourneyRemarks }}</td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	               <div class="row control-label" style="font-size: 14px !important;">
	                  <strong>Accommodation</strong>
	               </div>
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th>S.No.</th>
	                           <th>Stay Type</th>
	                           <th>Currency</th>
	                           <th>Budget</th>
	                           <th>Check in Date</th>
	                           <th>Check out Date</th>
	                           <th>Preferred Place</th>
	                           <th>Address</th>
	                           <th ng-show="requestDetails.otherAccommodationsFlag == 'Y' || requestDetails.otherAccommodationsFlag == 'y'" >
	                              Reason
	                           </th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                        <tr ng-show="requestDetails.accommodationDetails.accommodations.length > 0" ng-repeat="row in requestDetails.accommodationDetails.accommodations">
	                           <td>{{ $index + 1 }}</td>
	                           <td>{{ row.stayTypeDesc }}</td>
	                           <td ng-if="row.stayType == '1' " >{{ row.currency }}</td>
	                           <td ng-if="row.stayType != '1' " >-</td>
	                           <td ng-if="row.stayType == '1' " >{{ row.budget }}</td>
	                           <td ng-if="row.stayType != '1' " >-</td>
	                           <td>{{ row.checkInDate }}</td>
	                           <td>{{ row.checkOutDate }}</td>
	                           <td>{{ row.place }}</td>
	                           <td>{{ row.address }}</td>
	                           <td ng-show="requestDetails.otherAccommodationsFlag == 'Y' || requestDetails.otherAccommodationsFlag == 'y'">{{ row.reason }}</td>
	                        </tr>
	                        <tr ng-show="typeof(requestDetails.accommodationDetails.accommodations) == undefined || requestDetails.accommodationDetails.accommodations.length == 0">
	                           <td ng-if="requestDetails.otherAccommodationsFlag == 'Y' || requestDetails.otherAccommodationsFlag == 'y'" colspan="8" align="center"> No Records !</td>
	                           <td ng-if="!(requestDetails.otherAccommodationsFlag == 'Y' || requestDetails.otherAccommodationsFlag == 'y')" colspan="9" align="center"> No Records !</td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Forex Details</h1>
	            </div>
	            <div class="container-scope">
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th>S.No.</th>
	                           <th>Currency</th>
	                           <th>Traveller Name</th>
	                           <th>
	                              <table border="0" style="border-collapse: collapse" width="100%">
	                                 <tbody>
	                                    <tr style="border-bottom: solid 1px #ccc">
	                                       <td colspan="2" class="text-center">Daily Allowances (A)</td>
	                                    </tr>
	                                    <tr>
	                                       <td class="text-center">Expense X Day =</td>
	                                       <td class="text-center">Total</td>
	                                    </tr>
	                                 </tbody>
	                              </table>
	                           </th>
	                           <th>
	                              <table border="0" style="border-collapse: collapse" width="100%">
	                                 <tbody>
	                                    <tr style="border-bottom: solid 1px #ccc">
	                                       <td colspan="2" class="text-center">Hotel Charges (B)</td>
	                                    </tr>
	                                    <tr>
	                                       <td class="text-center">Expense X Day =</td>
	                                       <td class="text-center">Total</td>
	                                    </tr>
	                                 </tbody>
	                              </table>
	                           </th>
	                           <th>Contingencies (C)</th>
	                           <th>Others (D)</th>
	                           <th>
	                              <table border="0" style="border-collapse: collapse" width="100%">
	                                 <tbody>
	                                    <tr style="border-bottom: solid 1px #ccc">
	                                       <td class="text-center">Total</td>
	                                    </tr>
	                                    <tr>
	                                       <td class="text-center">(A+B+C+D) </td>
	                                    </tr>
	                                 </tbody>
	                              </table>
	                           </th>
	                           <th>Total Amount(INR)</th>
	                           <th>Remarks for Contigencies
	                              /Any other Expenditure
	                           </th>
	                        </tr>
	                     </thead>
	                     <tr ng-show="requestDetails.advanceForexDetails.advanceAmountDetails.length > 0" ng-repeat="row in requestDetails.advanceForexDetails.advanceAmountDetails">
	                        <td>{{ $index + 1 }}</td>
	                        <td>{{ row.currencyCode }}</td>
	                        <td>{{ row.travellerName }}</td>
	                        <td>
	                           <table border="0" style="border-collapse: collapse" width="100%">
	                              <tbody>
	                                 <tr>
	                                    <td>
	                                       <table border="0" style="border-collapse: collapse" width="100%">
	                                          <tbody>
	                                             <tr>
	                                                <td class="text-center">{{ row.dailyAllowanceExpPerDay }}</td>
	                                                <td class="text-center">{{ row.dailyAllowanceTourDays }}</td>
	                                             </tr>
	                                          </tbody>
	                                       </table>
	                                    </td>
	                                    <td align="right">{{ row.dailyAllowanceExpTotal }}</td>
	                                 </tr>
	                              </tbody>
	                           </table>
	                        </td>
	                        <td>
	                           <table border="0" style="border-collapse: collapse" width="100%">
	                              <tbody>
	                                 <tr>
	                                    <td>
	                                       <table border="0" style="border-collapse: collapse" width="100%">
	                                          <tbody>
	                                             <tr>
	                                                <td class="text-center">{{ row.hotelChargesExpPerDay }}</td>
	                                                <td class="text-center">{{ row.hotelChargesTourDays }}</td>
	                                             </tr>
	                                          </tbody>
	                                       </table>
	                                    </td>
	                                    <td align="right">{{ row.hotelChargesExpTotal }}</td>
	                                 </tr>
	                              </tbody>
	                           </table>
	                        </td>
	                        <td align="center">{{ row.contingencies }}</td>
	                        <td align="center">{{ row.others }}</td>
	                        <td align="center">{{ row.total }}</td>
	                        <td align="center">{{ row.totalINR }}</td>
	                        <td align="center">{{ row.remarks }}</td>
	                     </tr>
	                     <tr ng-show="typeof(requestDetails.advanceForexDetails.advanceAmountDetails) == 'undefined' || requestDetails.advanceForexDetails.advanceAmountDetails.length == 0 || requestDetails.advanceForexFlag == 'N'">
	                        <td colspan="10" align="center"> No Records !</td>
	                     </tr>
	                  </table>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Billing Instructions and Approvers</h1>
	            </div>
	            <div class="container-scope">
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Billing Client</strong></label>
	                        <span class="value">{{ requestDetails.billingApprover.siteName }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Billing Approver</strong></label>
	                        <span class="value">{{ requestDetails.billingApprover.name }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Billing Client - Location</strong></label>
	                        <span class="value">{{ requestDetails.siteLocation }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>GST No.</strong></label>
	                        <span class="value">{{ requestDetails.gstNo }}</span> 
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Approval Level 1</strong></label>
	                        <span class="value">{{ requestDetails.approverLevels[0].name }}</span>  
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Approval Level 2</strong></label>
	                        <span class="value">{{ requestDetails.approverLevels[1].name }}</span> 
	                     </div>
	                  </div>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Passport/ Visa/ Insurance Information</h1>
	            </div>
	            <div class="container-scope">
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Passport No.</strong></label>
	                        <span class="value">{{ requestDetails.passport.passportNo }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Nationality</strong></label>
	                        <span class="value">{{ requestDetails.passport.nationality }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Place of Issue</strong></label>
	                        <span class="value">{{ requestDetails.passport.issuePlace }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Date of Issue</strong></label>
	                        <span class="value">{{ requestDetails.passport.issueDate }}</span> 
	                     </div>
	                  </div>
	               </div>
	               <div class="row separator">
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Date of Expire</strong></label>
	                        <span class="value">{{ requestDetails.passport.expiryDate }}</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Visa Required</strong></label>
	                        <span class="value" ng-if="requestDetails.visaRequired">Yes</span>
	                        <span class="value" ng-if="!requestDetails.visaRequired">No</span> 
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>Travel Insurance required</strong></label>
	                        <span class="value" ng-if="requestDetails.insuranceRequired">Yes</span>
	                        <span class="value" ng-if="!requestDetails.insuranceRequired">No</span>  
	                     </div>
	                  </div>
	                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	                     <div class="form-group">
	                        <label class="control-label"><strong>insurance Comments</strong></label>
	                        <span class="value">{{ requestDetails.insurance.comments }}</span> 
	                     </div>
	                  </div>
	               </div>
	               <!--start view details section-->
	               <div class="row control-label" style="font-size: 14px !important;">
	                  <strong>Visa Details</strong>
	               </div>
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th>S.No.</th>
	                           <th>Visa Country</th>
	                           <th>Visa Valid From</th>
	                           <th>Visa Valid To</th>
	                           <th>Visa Duration</th>
	                           <th>Visa Comments</th>
	                           <th>Validity</th>
	                        </tr>
	                     </thead>
	                     <tr ng-show="requestDetails.visa.length > 0" ng-repeat="row in requestDetails.visa">
	                        <td>{{ $index + 1 }}</td>
	                        <td>{{ row.country }}</td>
	                        <td>{{ row.validFrom }}</td>
	                        <td>{{ row.validTo }}</td>
	                        <td>{{ row.stayDuration }}</td>
	                        <td>{{ row.comment }}</td>
	                        <td>
	                           <span class="value" ng-show="row.validityFlag == 'Y' ">Valid</span>
	                           <span class="value" ng-show="row.validityFlag == 'N' ">Not Valid</span> 
	                        </td>
	                     </tr>
	                     <tr ng-show="typeof(requestDetails.visa) == 'undefined' || requestDetails.visa.length == 0">
	                        <td colspan="7" align="center"> No Records !</td>
	                     </tr>
	                  </table>
	               </div>
	               <!--end view details section-->
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Approval Workflow</h1>
	            </div>
	            <div class="container-scope" ng-mouseleave="hideDetails()" >
	               <div id="approvalWorkFlowDiv" class="row bs-wizard"  style="border-bottom:0;" ng-bind-html="approversDivHtml">
	               </div>
	               <div class="row" id="timelineTooltipDiv" >
	               </div>
	            </div>
	            <div class="container-scope" ng-show="typeof(requestDetails.approvers) == 'undefined' || requestDetails.approvers.length == 0">
	               No Records !
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Comments</h1>
	            </div>
	            <div class="container-scope">
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th width="5%">S.No.</th>
	                           <th width="55%">Comments</th>
	                           <th>Posted By</th>
	                           <th>Posted On</th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                        <tr ng-show="requestDetails.approverCommentsList.length > 0" ng-repeat="row in requestDetails.approverCommentsList">
	                           <td>{{ $index + 1 }}</td>
	                           <td>{{ row.commentDesc }}</td>
	                           <td>{{ row.postedByName }}</td>
	                           <td>{{ row.postedOnDate }}</td>
	                        </tr>
	                        <tr ng-show="typeof(requestDetails.approverCommentsList) == 'undefined' || requestDetails.approverCommentsList.length == 0">
	                           <td colspan="4" align="center"> No Records !</td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Cancellation Comments</h1>
	            </div>
	            <div class="container-scope">
	               <div class="table-responsive">
	                  <table class="table table-bordered">
	                     <thead>
	                        <tr>
	                           <th width="5%">S.No.</th>
	                           <th width="55%">Comments</th>
	                           <th>Posted By</th>
	                           <th>Posted On</th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                        <tr ng-show="requestDetails.approverCancellationCommentsList.length > 0" ng-repeat="row in requestDetails.approverCancellationCommentsList">
	                           <td>{{ $index + 1 }}</td>
	                           <td>{{ row.commentDesc }}</td>
	                           <td>{{ row.postedByName }}</td>
	                           <td>{{ row.postedOnDate }}</td>
	                        </tr>
	                        <tr ng-show="typeof(requestDetails.approverCancellationCommentsList) == 'undefined' || requestDetails.approverCancellationCommentsList.length == 0">
	                           <td colspan="4" align="center"> No Records !</td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	            <!--end section-->
	            <!--start section-->
	            <div class="heading-scope">
	               <h1>Mail Flow</h1>
	            </div>
	            <div class="container-scope">
	               <div class="table-responsive">
	                  <table class="table table table-striped table-bordered">
	                     <thead>
	                        <tr>
	                           <th width="5%">S.No.</th>
	                           <th width="10%">Mail From</th>
	                           <th width="10%">Mail To</th>
	                           <th width="10%">Mail CC</th>
	                           <th width="25%">Subject</th>
	                           <th width="15%">Create Date</th>
	                           <th width="15%">Send Date</th>
	                           <th width="5">Status</th>
	                           <th width="5%">Action</th>
	                        </tr>
	                     </thead>
	                     <tbody>
	                        <tr ng-show="requestMailFlow.length > 0" ng-repeat="row in requestMailFlow">
	                           <td>{{ $index + 1 }}</td>
	                           <td>{{ row.mailFrom }}</td>
	                           <td>{{ row.mailTo }}</td>
	                           <td>{{ row.mailCC }}</td>
	                           <td>{{ row.mailSubject }}</td>
	                           <td>{{ row.mailCreatedDate }}</td>
	                           <td>{{ row.mailSendDate }}</td>
	                           <td class="status-ok">
	                              {{ row.mailStatus }}
	                              <!-- <i>
	                                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
	                                    <g>
	                                       <path class="ok-graphic" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
	                                          L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"></path>
	                                    </g>
	                                 </svg>
	                                 </i> -->
	                           </td>
	                           <td><button type="button" class="btn btn-default btn-sm squre-btn" data-toggle="modal" data-target="#mailDetailsModel" ng-click="getMailDetails(row.mailId)"><i class="fa fa-eye"></i></button></td>
	                        </tr>
	                        <tr ng-show="typeof(requestMailFlow) == 'undefined' || requestMailFlow.length == 0">
	                           <td colspan="9" align="center"> No Records !</td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	            <!--end section-->
	            <!--end view travel details--> 
	         </div>
	         <!--end box content-->       
	      </div>
	   </div>
	   <!--end page content --> 
	</div>
  
  <!--Page Footer --> 
  <!--<footer class="main-footer"></footer>--> 
  <!--start footer-->
  <div class="footer-pattern" id="footer">
   <div class="footer-body">
      <!--Version -->
      <div class="version">
         <ul>
            <li id="TTlastvisit"><span id="lastVisit">Last visited: May 02, 2017 03:19 PM</span></li>
            <li title="Tech Times - Site Views" id ="lastvisit_tooltip"><span id="siteCount">Site Views: 1,542</span></li>
         </ul>
      </div>
      <!--Ends Version --> 
      <!--Browsers -->
      <div class="browsers">
         <ul>
            <!--<li><a href="#" title="Engaged information about the Motherson Family">About Us</a></li> -->
            <li id="best_view" title="This website is best viewed on IE 10+ & Chrome 52+ on Windows and Chrome 52+ & Safari 10+ on Mac.">
               <ul>
                  <li class="line-content">Best view on</li>
                  <li>
                     <i class="chrome-status">
                        <b>
                           <svg version="1.1" id="chromeIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 409.6 409.6" style="enable-background:new 0 0 409.6 409.6;" xml:space="preserve">
                              <path class="chrome-graphic-blue" d="M269.2,206.5c0,36.2-29.3,65.5-65.5,65.5c-36.2,0-65.5-29.3-65.5-65.5c0-36.2,29.3-65.5,65.5-65.5C239.9,141,269.2,170.3,269.2,206.5L269.2,206.5z M269.2,206.5"/>
                              <path class="chrome-graphic-yellow" d="M34.7,90.9c-2.4,3.6-4.7,7.2-6.9,11c-56.9,97.8-23.7,223.1,74,280l0,0c16.2,9.4,33.2,16.4,50.5,21l54.8-93c-1.1,0-2.3,0.1-3.4,0.1c-57.1,0-103.4-46.3-103.4-103.4c0-1.6,0-3.2,0.1-4.7L34.7,90.9z"/>
                              <path class="chrome-graphic-red" d="M389.4,115.6c-1.9-3.9-3.9-7.7-6-11.5c-55.5-98.5-180.4-133.4-279-77.8l0,0c-16.4,9.2-31,20.3-43.7,33l52.5,94.3c0.5-1,1.1-2,1.7-3c28.9-49.2,92.2-65.7,141.5-36.9c1.4,0.8,2.7,1.6,4,2.5L389.4,115.6z"/>
                              <path class="chrome-graphic-green" d="M188.3,409c4.3,0.3,8.6,0.6,12.9,0.6c113.1,2.1,206.4-87.9,208.5-201l0,0c0.3-18.8-1.8-37-6.3-54.4l-107.9-2.6c0.6,1,1.2,2,1.7,3c27.8,49.9,9.9,112.8-40,140.6c-1.4,0.8-2.8,1.5-4.2,2.2L188.3,409z"/>
                           </svg>
                        </b>
                        <strong>Chrome</strong>
                     </i>
                     52+
                  </li>
                  <li>
                     <i class="ie-status">
                        <b>
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 10.4 11" style="enable-background:new 0 0 10.4 11;" xml:space="preserve">
                              <path class="ie-graphic-blue" d="M9.4,0H8.9C8.5,0.1,8,0.3,7.5,0.5C7.1,0.7,6.6,1.1,6.3,1.2c-0.2,0-0.5-0.1-0.7-0.1c-2.9-0.2-4.8,1.8-5,4.7c1-1.2,2.4-3.1,4-3.7C2.2,3.8,0.2,6.6,0,9.1v0.4c0.1,0.8,0.5,1.4,1.3,1.5h0.4c1.2-0.2,1.9-0.7,2.7-1.2c2.9,0.4,4.8-0.9,5.5-3.1H6.9C6.5,8.3,3.6,7.9,4,6.1H10c0.2-2.9-1.3-4.2-3.4-4.9C7.3,0.8,9.3-0.3,10,0.6c0.3,0.4,0.1,1.3,0,1.8c0.1-0.3,0.2-0.7,0.3-1V1C10.3,0.4,9.9,0.1,9.4,0L9.4,0z M4.2,9.7c-0.6,0.4-2.6,1.4-3.2,0.4C0.5,9.5,1.1,8.5,1.3,7.9C2,8.8,2.9,9.4,4.2,9.7L4.2,9.7zM6.9,4.4H4C3.9,2.6,7.1,2.5,6.9,4.4L6.9,4.4z M6.9,4.4"/>
                           </svg>
                        </b>
                        <strong>Internet Explorer</strong>
                     </i>
                     10+
                  </li>
                  <li>
                     <i class="safari-status">
                        <b>
                           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 233.055 233.055" enable-background="new 0 0 233.055 233.055" xml:space="preserve">
                              <g>
                                 <path class="safari-graphic-blue" d="M117.054,0.527C52.965,0.527,0.527,52.965,0.527,117.055c0,64.09,52.438,116.527,116.527,116.527c64.09,0,116.528-52.438,116.528-116.527C233.582,52.965,181.145,0.527,117.054,0.527L117.054,0.527z M117.054,211.734c-52.437,0-94.679-42.242-94.679-94.68c0-52.437,42.242-94.679,94.679-94.679c52.438,0,94.68,42.242,94.68,94.679C211.734,169.492,169.492,211.734,117.054,211.734L117.054,211.734z M117.054,211.734"/>
                                 <path class="safari-graphic-red" d="M134.274,133.58l-32.361-32.605l63.69-31.871L134.274,133.58z"/>
                                 <path class="safari-graphic-blue" d="M134.274,133.58l-32.361-32.605l-39.545,71.396L134.274,133.58z"/>
                              </g>
                           </svg>
                        </b>
                        <strong>Safari</strong>
                     </i>
                     10+
                  </li>
               </ul>
            </li>
            <li class="line-content" id="mind_url" title="Visit http://www.mind-infotech.com/">&copy; 2017 <a href="http://www.mind-infotech.com/" target="_blank">MIND</a></li>
         </ul>
      </div>
      <!--Ends Browsers --> 
      <!--SMG Slogan -->
      <div class="smg-slogan" title="Proud to be Part of Samvardhana Motherson">
         <svg version="1.1" id="smgSlogan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 706 55.5" style="enable-background:new 0 0 706 55.5;" xml:space="preserve">
            <g>
               <g>
                  <path class="proud-graphic-red" d="M698.6,4.7c-2.2,1-3.7,3.1-3.7,5.6l0,40.8h8.7c2.1,0,3.7-1.7,3.7-3.7V1.2L698.6,4.7z"/>
                  <path class="proud-graphic-red" d="M682.4,17.2c-2.2,1-3.7,3.1-3.7,5.6l0,28.3h8.7c2.1,0,3.7-1.7,3.7-3.7V13.7L682.4,17.2z"/>
                  <path class="proud-graphic-red" d="M666.2,29.6c-2.2,1-3.7,3.1-3.7,5.6l0,15.8h8.7c2.1,0,3.7-1.7,3.7-3.7V26.1L666.2,29.6z"/>
               </g>
               <g>
                  <g>
                     <path class="proud-graphic-red" d="M484.1,34h5.7v2.6c0.9-1.6,2.7-3,5.3-3c2.2,0,3.8,1,4.6,2.8c1.4-2,3.4-2.8,5.6-2.8c3.2,0,5.5,2.1,5.5,6.3v11H505v-10c0-1.7-0.8-2.5-2.2-2.5c-1.5,0-2.6,1-2.6,2.8v9.7h-5.7v-10c0-1.7-0.8-2.5-2.2-2.5c-1.5,0-2.6,1-2.6,2.8v9.7h-5.7V34z"/>
                     <path class="proud-graphic-red" d="M512.7,42.6v-0.3c0-5.4,4-8.8,9.2-8.8c5.2,0,9.2,3.3,9.2,8.6v0.3c0,5.5-4,8.7-9.2,8.7C516.7,51.2,512.7,48,512.7,42.6z M525.2,42.5v-0.3c0-2.8-1.1-4.4-3.3-4.4c-2.2,0-3.3,1.5-3.3,4.3v0.3c0,2.9,1.1,4.5,3.3,4.5C524.1,46.9,525.2,45.3,525.2,42.5z"/>
                     <path class="proud-graphic-red" d="M533.6,45.4v-7.5h-2V34h2v-1.2l5.7-2.3V34h3.3v3.9h-3.3v6.9c0,1.2,0.6,1.8,1.7,1.8c0.6,0,1.1-0.1,1.6-0.3v4.4c-0.7,0.2-1.8,0.5-3.2,0.5C535.7,51.2,533.6,49.4,533.6,45.4z"/>
                     <path class="proud-graphic-red" d="M545,28.3l5.7-2.3v10.7c0.9-1.7,2.7-3.1,5.5-3.1c3.2,0,5.5,2,5.5,6.3v10.9H556V41c0-1.9-0.7-2.8-2.4-2.8c-1.7,0-2.9,1-2.9,3.2v9.4H545V28.3z"/>
                     <path class="proud-graphic-red" d="M563.7,42.6v-0.3c0-5.4,4-8.8,9.1-8.8c4.6,0,8.5,2.6,8.5,8.7v1.5h-11.8c0.2,2.2,1.4,3.5,3.5,3.5c1.9,0,2.7-0.9,2.9-2h5.4c-0.5,3.8-3.4,5.9-8.5,5.9C567.6,51.2,563.7,48.1,563.7,42.6z M575.7,40.5c-0.1-2-1.1-3.1-3-3.1c-1.7,0-2.9,1.1-3.2,3.1H575.7z"/>
                     <path class="proud-graphic-red" d="M583.5,34h5.7v3.3c1.1-2.5,2.8-3.6,5.4-3.6v5.4c-3.5-0.1-5.4,1-5.4,3.7v8h-5.7V34z"/>
                     <path class="proud-graphic-red" d="M595.6,45.5h5.3c0.2,1.2,0.7,1.9,2.4,1.9c1.4,0,2.1-0.5,2.1-1.4c0-0.8-0.8-1.2-3.1-1.5c-4.5-0.6-6.4-1.9-6.4-5.4c0-3.7,3.3-5.5,7.2-5.5c4.1,0,7,1.4,7.4,5.4h-5.2c-0.2-1.1-0.8-1.7-2.2-1.7c-1.3,0-1.9,0.5-1.9,1.3c0,0.8,0.8,1.1,2.8,1.4c4.7,0.6,6.9,1.8,6.9,5.4c0,4-3,5.8-7.6,5.8C598.5,51.2,595.7,49.2,595.6,45.5z"/>
                     <path class="proud-graphic-red" d="M612,42.6v-0.3c0-5.4,4-8.8,9.2-8.8c5.2,0,9.1,3.3,9.1,8.6v0.3c0,5.5-4,8.7-9.2,8.7C616,51.2,612,48,612,42.6z M624.5,42.5v-0.3c0-2.8-1.1-4.4-3.3-4.4c-2.2,0-3.3,1.5-3.3,4.3v0.3c0,2.9,1.1,4.5,3.3,4.5C623.3,46.9,624.5,45.3,624.5,42.5z"/>
                     <path class="proud-graphic-red" d="M632.4,34h5.7v2.7c0.9-1.7,2.7-3.1,5.5-3.1c3.2,0,5.5,2,5.5,6.3v10.9h-5.7V41c0-1.9-0.7-2.8-2.4-2.8c-1.7,0-2.9,1-2.9,3.2v9.4h-5.7V34z"/>
                  </g>
                  <g>
                     <path class="proud-graphic-red" d="M1.3,27.7h6.6c4.4,0,8.1,1.9,8.1,6.8v0.1c0,4.9-3.7,6.8-8.1,6.8H4.1v9.4H1.3V27.7z M8.1,39.2c3.3,0,5.1-1.6,5.1-4.6v-0.1c0-3.3-1.9-4.5-5.1-4.5H4.1v9.2H8.1z"/>
                     <path class="proud-graphic-red" d="M18.8,34h2.7v3c1.1-1.9,2.5-3.2,5.6-3.3v2.5c-3.4,0.2-5.6,1.2-5.6,5.4v9.3h-2.7V34z"/>
                     <path class="proud-graphic-red" d="M28.1,42.5v-0.3c0-5.1,3.5-8.6,8.3-8.6c4.8,0,8.3,3.5,8.3,8.6v0.3c0,5.1-3.5,8.6-8.3,8.6C31.6,51.1,28.1,47.5,28.1,42.5z M41.9,42.5v-0.2c0-3.9-2.2-6.4-5.5-6.4c-3.4,0-5.5,2.5-5.5,6.4v0.3c0,3.8,2.1,6.4,5.5,6.4C39.8,48.9,41.9,46.4,41.9,42.5z"/>
                     <path class="proud-graphic-red" d="M47.8,44.7V34h2.7v10.6c0,3,1.3,4.3,3.9,4.3c2.4,0,4.7-1.6,4.7-4.6V34h2.7v16.9H59v-2.7c-0.8,1.6-2.7,3-5.4,3C50.3,51.1,47.8,49.3,47.8,44.7z"/>
                     <path class="proud-graphic-red" d="M65,42.7v-0.3c0-5.2,3.2-8.8,7.9-8.8c2.8,0,4.6,1.4,5.5,3V25.9h2.7v25h-2.7v-2.9c-1,1.6-3.3,3.2-5.8,3.2C68.2,51.1,65,48,65,42.7z M78.5,42.5v-0.3c0-4.3-2.1-6.4-5.4-6.4c-3.4,0-5.4,2.4-5.4,6.5v0.3c0,4.3,2.3,6.3,5.1,6.3C76,48.9,78.5,46.9,78.5,42.5z"/>
                     <path class="proud-graphic-red" d="M95.4,46.6V36.2H93V34h2.4v-3.8h2.7V34h3.9v2.3h-3.9v10.2c0,1.6,0.7,2.5,2.1,2.5c0.8,0,1.5-0.1,2.1-0.4v2.3c-0.6,0.2-1.2,0.4-2.3,0.4C96.9,51.1,95.4,49.3,95.4,46.6z"/>
                     <path class="proud-graphic-red" d="M103.5,42.5v-0.3c0-5.1,3.5-8.6,8.3-8.6c4.8,0,8.3,3.5,8.3,8.6v0.3c0,5.1-3.5,8.6-8.3,8.6C106.9,51.1,103.5,47.5,103.5,42.5z M117.3,42.5v-0.2c0-3.9-2.2-6.4-5.5-6.4c-3.4,0-5.5,2.5-5.5,6.4v0.3c0,3.8,2.1,6.4,5.5,6.4C115.2,48.9,117.3,46.4,117.3,42.5z"/>
                     <path class="proud-graphic-red" d="M135.3,48.1v2.8h-2.7v-25h2.7v10.9c1-1.6,3.3-3.1,5.7-3.1c4.4,0,7.7,3.2,7.7,8.5v0.3c0,5.2-3,8.7-7.7,8.7C138.3,51.1,136.3,49.8,135.3,48.1z M146,42.5v-0.3c0-4.3-2.4-6.4-5.2-6.4c-3.1,0-5.5,2.1-5.5,6.4v0.3c0,4.3,2.3,6.4,5.6,6.4C144.1,48.9,146,46.7,146,42.5z"/>
                     <path class="proud-graphic-red" d="M151,42.6v-0.3c0-5.1,3.3-8.7,7.9-8.7c3.9,0,7.6,2.4,7.6,8.4v0.9h-12.7c0.1,3.8,2,6,5.4,6c2.6,0,4.1-1,4.5-2.9h2.7c-0.6,3.4-3.4,5.2-7.2,5.2C154.3,51.1,151,47.8,151,42.6z M163.7,40.8c-0.3-3.5-2.1-4.9-4.8-4.9c-2.7,0-4.6,1.9-5,4.9H163.7z"/>
                     <path class="proud-graphic-red" d="M178.9,34h2.7v2.8c1-1.6,3.3-3.1,5.7-3.1c4.4,0,7.7,3.2,7.7,8.5v0.3c0,5.2-3,8.7-7.7,8.7c-2.8,0-4.8-1.4-5.7-3.1v8.7h-2.7V34z M192.3,42.5v-0.3c0-4.3-2.4-6.4-5.2-6.4c-3.1,0-5.5,2.1-5.5,6.4v0.3c0,4.3,2.3,6.4,5.6,6.4C190.5,48.9,192.3,46.7,192.3,42.5z"/>
                     <path class="proud-graphic-red" d="M197,46.2c0-3.9,4.1-5.2,8.5-5.2h2.4v-1.2c0-2.7-1-3.8-3.6-3.8c-2.3,0-3.6,1-3.9,3h-2.7c0.4-3.8,3.4-5.3,6.7-5.3c3.2,0,6.2,1.3,6.2,6v11.2h-2.7v-2.1c-1.3,1.6-2.8,2.4-5.3,2.4C199.5,51.1,197,49.6,197,46.2zM207.9,44.9v-2.1h-2.3c-3.4,0-5.9,0.8-5.9,3.3c0,1.7,0.8,2.8,3.2,2.8C205.8,49,207.9,47.6,207.9,44.9z"/>
                     <path class="proud-graphic-red" d="M214.8,34h2.7v3c1.1-1.9,2.5-3.2,5.6-3.3v2.5c-3.4,0.2-5.6,1.2-5.6,5.4v9.3h-2.7V34z"/>
                     <path class="proud-graphic-red" d="M227.3,46.6V36.2h-2.4V34h2.4v-3.8h2.7V34h3.9v2.3H230v10.2c0,1.6,0.7,2.5,2.1,2.5c0.8,0,1.5-0.1,2.1-0.4v2.3c-0.6,0.2-1.2,0.4-2.3,0.4C228.8,51.1,227.3,49.3,227.3,46.6z"/>
                     <path class="proud-graphic-red" d="M245.3,42.5v-0.3c0-5.1,3.5-8.6,8.3-8.6c4.8,0,8.3,3.5,8.3,8.6v0.3c0,5.1-3.5,8.6-8.3,8.6C248.7,51.1,245.3,47.5,245.3,42.5z M259.1,42.5v-0.2c0-3.9-2.2-6.4-5.5-6.4c-3.4,0-5.5,2.5-5.5,6.4v0.3c0,3.8,2.1,6.4,5.5,6.4C257,48.9,259.1,46.4,259.1,42.5z"/>
                     <path class="proud-graphic-red" d="M265.5,36.2h-2.4V34h2.4v-2.7c0-3.4,1.7-5.4,5-5.4c0.9,0,1.3,0.1,2,0.3v2.3c-0.5-0.2-1.2-0.4-1.9-0.4c-1.7,0-2.5,1.2-2.5,2.9v3h4.1v2.3h-4.1v14.6h-2.7V36.2z"/>
                     <path class="proud-graphic-red" d="M283.1,45.7h2.6c0.2,2,1.3,3.3,4,3.3c2.6,0,3.7-0.9,3.7-2.7c0-1.8-1.3-2.4-3.9-2.8c-4.4-0.8-5.9-2-5.9-5c0-3.1,3.1-4.8,5.7-4.8c3,0,5.7,1.2,6.1,4.9h-2.6c-0.4-1.8-1.4-2.7-3.6-2.7c-1.9,0-3.2,1-3.2,2.4c0,1.5,0.8,2.1,3.9,2.7c3.5,0.6,5.9,1.4,5.9,5c0,3.1-2.1,5.1-6.2,5.1C285.7,51.1,283.2,49.1,283.1,45.7z"/>
                     <path class="proud-graphic-red" d="M298,46.2c0-3.9,4.1-5.2,8.5-5.2h2.4v-1.2c0-2.7-1-3.8-3.6-3.8c-2.3,0-3.6,1-3.9,3h-2.7c0.4-3.8,3.4-5.3,6.7-5.3c3.2,0,6.2,1.3,6.2,6v11.2h-2.7v-2.1c-1.3,1.6-2.8,2.4-5.3,2.4C300.5,51.1,298,49.6,298,46.2zM308.9,44.9v-2.1h-2.3c-3.4,0-5.9,0.8-5.9,3.3c0,1.7,0.8,2.8,3.2,2.8C306.7,49,308.9,47.6,308.9,44.9z"/>
                     <path class="proud-graphic-red" d="M315.8,34h2.7v2.6c0.8-1.6,2.6-2.9,5-2.9c2.2,0,4.1,0.9,4.9,3.2c1.2-2.2,3.7-3.2,5.8-3.2c3,0,5.7,1.8,5.7,6.7v10.5h-2.7V40.2c0-3-1.3-4.2-3.6-4.2c-2.2,0-4.5,1.5-4.5,4.5v10.3h-2.7V40.2c0-3-1.3-4.2-3.6-4.2c-2.2,0-4.5,1.5-4.5,4.5v10.3h-2.7V34z"/>
                     <path class="proud-graphic-red" d="M341.6,34h2.9l5,14.2l4.9-14.2h2.8l-6.1,16.9h-3.4L341.6,34z"/>
                     <path class="proud-graphic-red" d="M358,46.2c0-3.9,4.1-5.2,8.5-5.2h2.4v-1.2c0-2.7-1-3.8-3.6-3.8c-2.3,0-3.6,1-3.9,3h-2.7c0.4-3.8,3.4-5.3,6.7-5.3c3.2,0,6.2,1.3,6.2,6v11.2h-2.7v-2.1c-1.3,1.6-2.8,2.4-5.3,2.4C360.4,51.1,358,49.6,358,46.2zM368.9,44.9v-2.1h-2.3c-3.4,0-5.9,0.8-5.9,3.3c0,1.7,0.8,2.8,3.2,2.8C366.7,49,368.9,47.6,368.9,44.9z"/>
                     <path class="proud-graphic-red" d="M375.7,34h2.7v3c1.1-1.9,2.5-3.2,5.6-3.3v2.5c-3.4,0.2-5.6,1.2-5.6,5.4v9.3h-2.7V34z"/>
                     <path class="proud-graphic-red" d="M385.1,42.7v-0.3c0-5.2,3.2-8.8,7.9-8.8c2.8,0,4.6,1.4,5.5,3V25.9h2.7v25h-2.7v-2.9c-1,1.6-3.3,3.2-5.8,3.2C388.3,51.1,385.1,48,385.1,42.7z M398.6,42.5v-0.3c0-4.3-2.1-6.4-5.4-6.4c-3.4,0-5.4,2.4-5.4,6.5v0.3c0,4.3,2.3,6.3,5.1,6.3C396.1,48.9,398.6,46.9,398.6,42.5z"/>
                     <path class="proud-graphic-red" d="M405.5,25.9h2.7v10.8c0.8-1.6,2.7-3,5.4-3c3.5,0,6,1.9,6,6.8v10.4h-2.7V40.3c0-3-1.3-4.3-4-4.3c-2.5,0-4.7,1.6-4.7,4.6v10.2h-2.7V25.9z"/>
                     <path class="proud-graphic-red" d="M422.5,46.2c0-3.9,4.1-5.2,8.5-5.2h2.4v-1.2c0-2.7-1-3.8-3.6-3.8c-2.3,0-3.6,1-3.9,3h-2.7c0.4-3.8,3.4-5.3,6.7-5.3c3.2,0,6.2,1.3,6.2,6v11.2h-2.7v-2.1c-1.3,1.6-2.8,2.4-5.3,2.4C425,51.1,422.5,49.6,422.5,46.2zM433.4,44.9v-2.1h-2.3c-3.4,0-5.9,0.8-5.9,3.3c0,1.7,0.8,2.8,3.2,2.8C431.2,49,433.4,47.6,433.4,44.9z"/>
                     <path class="proud-graphic-red" d="M440.3,34h2.7v2.7c0.8-1.6,2.7-3,5.4-3c3.5,0,5.9,1.9,5.9,6.8v10.4h-2.7V40.3c0-3-1.3-4.3-4-4.3c-2.5,0-4.7,1.6-4.7,4.6v10.2h-2.7V34z"/>
                     <path class="proud-graphic-red" d="M457.3,46.2c0-3.9,4.1-5.2,8.5-5.2h2.4v-1.2c0-2.7-1-3.8-3.6-3.8c-2.3,0-3.6,1-3.9,3H458c0.4-3.8,3.4-5.3,6.7-5.3c3.2,0,6.2,1.3,6.2,6v11.2h-2.7v-2.1c-1.3,1.6-2.8,2.4-5.3,2.4C459.8,51.1,457.3,49.6,457.3,46.2zM468.2,44.9v-2.1h-2.3c-3.4,0-5.9,0.8-5.9,3.3c0,1.7,0.8,2.8,3.2,2.8C466.1,49,468.2,47.6,468.2,44.9z"/>
                  </g>
               </g>
            </g>
         </svg>
      </div>
      <!--Ends SMG Slogan --> 
   </div>
</div>
<!--Ends Footer --> 
<div id="mailDetailsDiv">
	<div class="modal fade" id="mailDetailsModel" role="dialog">
	    <div class="modal-dialog" style="width: 80% !important;">
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" id="modelHeader">Mail Details</h4>
	        </div>
	        <div class="modal-body" style="font-size: 11px !important;">
	        	<div id="mailDetails" ng-bind-html = "mailBody">
	        		test
	        	</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
</div>
<script>
$(function () {
	//Initialize Select2 Elements
	$(".select2").select2();
});
</script>
<script type="text/javascript" src="'/stars/controllers/requestDetails.js?buildstamp='+${buildstamp}" th:src="@{/}+'controllers/requestDetails.js?buildstamp='+${buildstamp}" th:inline="javascript"></script>
<script type="text/javascript" src="'/stars/plugins/select2/select2.full.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'plugins/select2/select2.full.min.js?buildstamp='+${buildstamp}"></script> 
<script type="text/javascript" src="'/stars/controllers/requestDetailsController.js?buildstamp='+${buildstamp}" th:src="@{/}+'controllers/requestDetailsController.js?buildstamp='+${buildstamp}" th:inline="javascript"></script>
</div>
<!--Ends Wrapper Scope --> 


