#calendar {
	box-shadow: 4px 5px 9px 0px #888888 !important;
}
#calendar table {
	border-width : 1px !important;
}
.datepicker {
	color		: #666666;
}
.datepicker table tr td.day {
	color: #6495ed !important;
}
.datepicker table tr td.old {
	color: #777 !important;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	color: #c7c7c7 !important;
}
.datepicker table tr td.active {
	color: #666666 !important;
	background-color: #ffdb99 !important;
    border-color: #ffb733 !important;
}
.datepicker table tr td.today {
	color: #666666 !important;
	background-color: #eeeeee !important;
    border-color: #eeeeee !important;
}

/* .bootstrap-datetimepicker-widget .timepicker-picker table.table-condensed tr:nth-of-type(2) td{text-align:center} */

.bootstrap-datetimepicker-widget .timepicker-picker table.table-condensed tr td button.btn {
	min-width:auto !important
}

.calendar-date-scope .calendar-box .form-group .form-control {
	border: none;
	height: auto;
	font-size: 13px;
	padding: 0px 5px;
	font-family: robotobold;
	display: block;
	margin-top: 0px;
}

.row {
	margin-left: -6px;
	margin-right: -6px;
}

.user-list-dropdown {
	border: 1px solid lightgray; 
	border-radius: 5px;
}

.user-pic-graphic {
	top : 1px;
	left : 8px;
	margin : 1px;
	height: 30px;
	width: 30px;
}

.datepicker-switch, .month, .year, .dow {
	font-weight: bold;	
}

.timepicker {
	background-color: #fafafa;
}

.selection-box-scope label {
	width: 130px;
}

.selection-box-scope label:nth-of-type(2n) {
	width: 170px
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 2%;
  }
}

.angucomplete-dropdown {
	max-height: 350px !important;
	overflow-y:	scroll; 
	margin-top: 40px !important;
	width: 100% !important;
	border-radius : 5px;
}
.angucomplete-row {
	margin-bottom: 0px;	
}

.angucomplete-row div.angucomplete-title {
	height: 35px;
}

#traveller_dropdown {
	margin-top: 5px !important;
	left : -34px;
	width: 220px !important;
}

.highlight {
	color: #ff0000;
}

#traveller_value {
	border: 0px !important;
	height: 100% !important;
}

.glyphicon-ok:before{
	color: #3ab54a !important;
}

.glyphicon-remove:before{
	color: #db2128 !important;
}

.multiselectCustom, 
.multiselectCustom > div, 
.multiselectCustom > div > div, 
.multiselectCustom > div > div > button,
.site-single-select, 
.site-single-select > div, 
.site-single-select > div > div, 
.site-single-select > div > div > button {
	width: 100% !important;
}

div.site-single-select li.divider {
	display: none !important;
}

.dropdown-header {
	padding: 3px !important;
}

.multiselectSearchBox ul {
	height : auto !important;
	max-height: 167px !important;	
	width: 100%;
}

.multiselectSearchBox .dropdown-header input {
	width: 93% !important;
    height: 27px !important;
    font-size: 13px !important;
    padding: 0px 6px !important;
    margin: auto 5px !important;
}

.site-single-select ul li:nth-child(1) {
	display: none;
}


/* @media screen and (min-width: 1024px) {
	.booking-form-scope.hotel-content-scope .hotel-inside-scope {
		padding-right : 0px;
	}
} */

.site-single-select button {
	background: white;
	text-align: left;
}

.site-single-select button span {
	float: right;
	margin-top: 8px;
}

.remove-bottom-border {
	border-bottom: 0px !important;
}

.selected-time-scope  .timepicker-picker  table td  a span,
.selected-time-scope  .timepicker-picker  table td,
.selected-time-scope  .timepicker-picker  table td  span {
       height: 30px !important;
       line-height: 30px !important;
       width: 30px !important; 
       line-height:30px !important; 
       padding:0px !important;
}

.table-condensed  .hour, .table-condensed  .minute {
       padding: 0px !important;
       height: 40px !important;
       line-height: 40px !important;
       width: 40px !important; 
}

input.datePicker {
	background-color: white !important;
}
.disabled-element {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.tab-body-content .container-scope{padding: 10px;}
@media screen and (max-width:1180px) {
	.travel-category-head .inside-filter-box {
		min-height: 100px;
	}
}

@media screen and (max-width:990px) {
	.travel-category-head .inside-filter-box {
		min-height: 80px;
	}
}
.card-container .card-box-scope{border: 1px solid #ccc;  border-radius: 5px; position: relative; margin-bottom: 10px}
.card-box-body .label.multicity{background: #00b8a5; color: #fff; border: solid 1px #00b8a5; }
.card-box-body .label.others{background: #b09934; color: #fff; border: solid 1px #b09934;}

.accommodationDetailsDiv {
	padding-right: 0px !important;
}
.vertical-progress .process-scope .box-scope-process {
    display: block;
    min-height: 300px;
    max-height: 515px;
    overflow: auto;
}
.custom-icon-scope {
	margin: 0px 7px 0px 0px !important;
}
.content-header .box .breadcrumb li span.active {
	font-size: 13px;
	font-weight : bold;
	font-family: robotobold;
	padding-top:7px;
	padding-bottom: 5px;
}
.info-details-body .tab-pane {
	display: block;
}
.breadcrumb-status-domestic {
	width: 110px;
}
.breadcrumb-status-international {
	width: 132px;
}
.content-header .box .breadcrumb li.breadcrumb-status+li:before {
	content: "";
}
.travel-type-div {
	margin-top: 0px !important;
	height: 27px !important;
	font-size: 15px;
	padding: 2px 5px;
}
.travel-type-div .icon-scope-box {
	width: 32px;
    height: 23px;
    padding: 2px;
}
.travel-type-div .icon-scope-box i {
	width: 20px;
	height: 20px;
}
.breadcrumb>li+li:before {
	padding: 0px;
}