.step-timeline-box {
	width: 10% ;
}
.aero-Class {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #6e6e70;
    content: '';
    position: absolute;
    top: -22px;
}