.content-wrapper {
	padding-bottom: 0px !important; 
}
.arrival-departure-data {
	margin: 5px !important;
}
.journey-detail-div {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden; 
}
.one-way {
	background: #f68220 !important; 
	color: #fff !important; 
	border: solid 1px #d86605 !important;
}
.return {
	background: #39b54a !important;
	color: #fff !important;
	border: solid 1px #23a134 !important;
}
.multicity{
	background: #00b8a5 !important;
	color: #fff !important;
	border: solid 1px #00b8a5 !important;
}
.step-timeline-box {
	width: 10% ;
}
.aero-Class {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #6e6e70;
    content: '';
    position: absolute;
    top: -22px;
}

.total-amount-custom{
	padding: 15px !important;
}
.mail-div-custom, .acco-div-custom {
	max-height: 300px !important;
	overflow-y: auto; 
}