<div class="" th:fragment="content">
	<link type="text/css" href="'/stars/css/acceptTermsAndConditions.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/acceptTermsAndConditions.css?buildstamp='+${buildstamp}" rel="stylesheet">
	<link type="text/css" href="'/stars/css/responsive.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/responsive.css?buildstamp='+${buildstamp}" rel="stylesheet">
	
	<style type="text/css">
		.privacy li {
       		width		: 1000px !important;
       		height 		: 570px !important;
       	}
       	.feedbackform .privacy {
       		left		: 14% !important;
       	}
       	input.common-btn {
       		padding-top	: 0.3em !important;
       	}
       	.privacy .content-flow {
       		max-height	: 395px !important;
       	}
       	.actionButtonsDiv {
       		padding-top	: 5px;
       	}
	</style>

	<div class="modal">
		<form name="acceptPolicyForm" id="acceptPolicyForm" class="modal-content" action="/stars/acceptPolicy" th:action="@{/acceptPolicy}" method="POST">
		
			<input type="hidden" name="userId" th:value="${user?.userId}">
			<input type="hidden" name="userName" th:value="${user?.userName}">
			<input type="hidden" name="password" th:value="${user?.password}">
			<input type="hidden" name="encFlag" th:value="${user?.encFlag}">
			<input type="hidden" name="ssoFlag" th:value="${user?.ssoFlag}">
			<input type="hidden" name="language" th:value="${user?.language}">
			<input type="hidden" name="acceptanceFlag" id="acceptanceFlag" value="N">
			
			<!-- <input id="chkAccepted" type="checkbox"> I confirm that I have read and understood the privacy policy.
			<button title="Accept" id="btnAccept" class="common-btn accept-btn" onclick="return submitForm();">Accept</button> -->
			
			<div class="wrapper">
				<div class="feedbackform">
					<div class="privacy">
						<div class="companyply">
							<ul>
								<li><b>
									<h2>
										<span>Privacy Policy</span>
									</h2>
									<div class="horizontal-line">
										<i></i><i></i>
									</div>
	
									<!-- <div class="tab-nav">
										<ul>
											<li id="liAccept" class="selected"><a
												onclick="" href="javascript:void(0);"
												title="Security &amp; Accepted Use">Privacy Policy</a></li>
										</ul>
									</div> -->
									<div id="Accept" class="content-flow">
										<p>When you use the STARS, you trust us with your information and we value your privacy. This privacy policy is updated recently and meant to help you understand what information we collect and how do we use this information. </p>
											<h4>What kinds of information do we collect?</h4>
										<p>
											<h4>Things you do and information you provide</h4>
										<p>
											We collect the content and other information you provide when you use our services, including when you sign up for an account or during update of your profile information i.e. domain name, name, employment related information such as employee code, department, designation, reporting manager, company name, unit and its address, contact details, and additional information such as gender, date of birth, user photo, family details, nationality, home address, passport details, immigration details, hotel reward details, frequent flyer numbers, visa details. It is important to note that most of this information is optional to provide on transactional basis and mandatory fields are limited but generally highlighted by asterisk (*) sign on the user profile page.
										</p>
										
										<h4>Device information</h4>
										<p>
											We collect information from or about the computers, or other devices where you install or access our application or services, depending on the permissions you've been granted. We may associate the information we collect from your different devices, which helps us provide consistent services across your devices. We collect attributes such as the operating system, browser details, device time, settings such as screen resolution, and identifiers such as IP address.
										</p>	
										
										<h4>Cookies</h4>
										<p>
											We use cookies to store visitors' preferences, record user-specific information on what pages user access or visit, record past activity at a site in order to provide better service when visitor return to our site.
										</p>
										
										<h4>How do we use this information?</h4>
										<h4>Authentication</h4>
										<p>
											The sign up information is necessary to authenticate you and to recognize you as an authorized user to our application and services.
										</p>
										
										<h4>Develop and Improve Services</h4>
										<p>
											The information we collect is used to improve the content of our webpage to customize experience to our users or other integrated applications or services used by you, and analyze the information to improve services, develop new features, and conduct compliance activities.
										</p>
										
										<h4>Communicate with you </h4>
										<p>
											We use your contact information to communicate with you about our services, its usage and let you know about our terms and policies. We also use your information for various official purposes including support and troubleshooting activities.
										</p>
										
										<h4>Promote Safety and Data Security</h4>
										<p>
											We use the information we have to help verify accounts and activity, and to promote security of our services, such as by investigating suspicious activity or violations of our terms or policies. We work hard to protect your account using teams of engineers, procedural controls, automated systems and advanced technologies. We have appropriate technical, administrative and physical safeguards in place to help protect against unauthorized access, use or disclosure of the information we collect, process or store.  Still it is important to note that no data transmission over the Internet or information storage technology can be guaranteed to be 100% secure but we always continue to evaluate and implement enhancements in security technology and practices
										</p>
											
										<h4>How do we share this information?</h4>
										<h4>Response to Legal Requests or Prevent Harm </h4>
										<p>
											We may access, preserve and share your information in response to a legal request (like a search warrant or court order). This may include responding to legal requests from jurisdictions outside of India where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; or to prevent death or imminent bodily harm.
										</p>
										<h4>New Ownership</h4>
										<p>
											If the ownership or control of all or part of us or a specific services changes as a result of a merger, acquisition or sale of assets, we may transfer your information to the new owner.
										</p>
										
										<h4>Other Applications or Services</h4>
										<p>
											There may be other integrated applications or services used by you, which may consume the collected information for seamless experience of our users.
										</p>
										
										<h4>Data Processing and Transfers</h4>
										<p>
											When you use or interact with any of our application or services, you consent to the data processing, sharing, transferring and uses of your information as outlined in this Privacy Policy. Regardless of the country where you reside, you authorize us to transfer, process, and store and use your information in the countries other than your own to provide you with the services. The data transfers are carried out through various compliance mechanisms, including data processing agreements between controller and trusted processors (part of or governed by Samvardhana Motherson Group) complying with the applicable data protection law. We want to assure you that we do not sell your data to any third party and do not transfer your data other than specified circumstances and parties described in this policy.
										</p>
										
										<h4>Other important information</h4>
										<h4>Security is teamwork</h4>
										<p>
											You also need to participate for your own data security and support effective implementation of information security processes or practices. You may also learn through IT Accepted Use Policy for Do's and Don'ts and ways to remain vigilant from information or cyber security threats. You are also encouraged to report any suspicious event, incident or weakness in controls at <a href="mailt:mcert@motherson.com">mcert@motherson.com</a>. 
										</p>
										
										<h4>Data Retention</h4>
										<p>
											Where retention of personal data is required by law, we complies with the required retention periods. In other circumstances, we retains personal data for as long as necessary for the business purposes specified in our respective company processes, already available to you through intranet or other similar means. 
										</p>
										
										<h4>Questions and Suggestions</h4>
										<p>
											If you have questions, suggestions or feel that this application is not following its stated privacy policy, you may please contact us at <a href="mailto:privacy@mind-infotech.com">privacy@mind-infotech.com</a> or your company's Data Protection Officer (DPO). 
										</p>
																			
									</div>
	
									<p></p>
									<div class="left">
										<span class="like-data">
											<em>
												<input id="chkAccepted" type="checkbox"> I confirm that I have read and understood the privacy policy.
											</em>
										</span>
									</div>
									<p></p>
									<p></p>
									<div class="actionButtonsDiv right">
										<!-- <input type="button" title="Decline" id="btnDecline" value="Decline" class="common-btn" onclick="goBack();"/> -->
										<input type="button" title="Accept" id="btnAccept" value="Accept" class="common-btn accept-btn" onclick="return submitForm();"/>
									</div>
									<p></p>
		
								</b></li>
							</ul>
						</div>
		
					</div>
				</div>
			</div>
				
		</form>
	</div>
	
	<script type="text/javascript">
		function goBack() {
			if(confirm("You have chosen not to accept the stated Privacy Policy and thus your access to the application is temporarily suspended;\n"+
				  "however you may anytime login again to provide your consent on the privacy policy to use the application and its services.")) {
				
				$("#overlayText").html("Please wait, while you are being redirected to STARS login page.");
				$("#overlay").show();
				
				$("#acceptanceFlag").val("N");
				$("#acceptPolicyForm").submit();
			}
		}
		
		function submitForm() {
			if(!$("#chkAccepted").is(":checked")) {
				alert("Please check the checkbox field to indicate that you have read and agree to the Privacy Policy.");
				$("#chkAccepted").focus();
				
				return false;
				
			} else {
				$("#overlayText").html("Please wait, while you are being redirected to STARS home page.");
				$("#overlay").show();
				
				$("#acceptanceFlag").val("Y");
				$("#acceptPolicyForm").submit();
				
				return true;
			}
		}
	</script>
	
</div>