<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" href="/stars/images/api-20.ico" th:href="@{/images/api-20.ico}">

    <title th:text="#{app.title}">STARS - API</title>
	
    <link type="text/css" href="/stars/plugins/bootstrap-4.1.3/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" href="/stars/css/api-home.css" th:href="@{/css/api-home.css}" rel="stylesheet">
  </head>

  <body class="text-center">
	<!-- <label th:text="${@environment.getProperty('server.servlet.context-path')}">xyz</label> -->
	
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand" th:text="#{app.name}">STARS</h3>
          
          <nav class="nav nav-masthead justify-content-center">
          	<a class="nav-link active" href="/stars" th:href="@{/}" th:text="#{label.homepage}">Homepage</a>
            <a class="nav-link" href="/stars/swagger-ui.html" th:href="@{/swagger-ui.html}" th:text="#{label.endpoints}">Endpoints</a>
            <a class="nav-link" href="/stars/v2/api-docs" th:href="@{/v2/api-docs}" th:text="#{label.endpointsinfo}">Endpoints Info</a>
            <a class="nav-link" href="/stars/actuator" th:href="@{/actuator}" th:text="#{label.actuators}">Actuators</a>
            <a class="nav-link" href="/stars/actuator/info" th:href="@{/actuator/info}" th:text="#{label.actuatorsinfo}">Actuators Info</a>
            <a class="nav-link" href="/stars/actuator/health" th:href="@{/actuator/health}" th:text="#{label.actuatorshealth}">Actuators Health</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <!-- <h1 class="cover-heading" th:text="#{app.title}">STARS - API</h1> -->
        <h1 class="cover-heading" th:text="${appName}">STARS - API</h1>
        
        <!-- <p class="lead" th:text="#{app.name.desc}">Samvardhana Motherson Travel Approval System</p> -->
        
        <hr style="background-color: white; width:23%;">
        
        <p class="lead">
          <a href="/stars" th:href="@{/}" class="btn btn-lg btn-secondary" th:text="#{label.homepage}">Homepage</a>
          <a href="/stars/swagger-ui.html" th:href="@{/swagger-ui.html}" class="btn btn-lg btn-secondary" th:text="#{label.endpoints}">Endpoints</a>
        </p>
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
          	<label th:text="#{label.developedby}">Developed by</label> 
          	<a href="#" th:text="#{label.workflowcoe}">Workflow COE</a> 
          	<label th:text="#{label.team}">team.</label> 
          </p>
        </div>
      </footer>
    </div>
    
    <script type="text/javascript" src="/stars/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="/stars/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"><\/script>')</script>
    <script type="text/javascript" src="/stars/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" src="/stars/plugins/bootstrap-4.1.3/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-4.1.3/js/bootstrap.min.js}"></script>
  </body>
</html>
