<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" th:href="@{/images/api-20.ico}">

    <title th:text="${appName}">STARS - API</title>

    <link type="text/css" th:href="@{/css/serverMaintainance.css}" rel="stylesheet">
   
  </head>


	<body>
		<div id="wrapper">
			<div class="grid">
			  <span class="server"></span>
			  <span class="server"></span>
			  <span class="server"></span>
			  <span class="server"></span>
			  <span class="server"></span>
			</div>
			
			<div class="content">          
			  <h1 th:text="${message}">Server under maintenance</h1> 
			</div>
		</div> 

	</body>
</html>


