<div class="content-wrapper" th:fragment="content" style="min-height: 591px;">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

    <link type="text/css" href="'/stars/css/home.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/home.css?buildstamp='+${buildstamp}" rel="stylesheet">
    
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">
            	Welcome <b style="color: #6f6b6b;">[[ ${user?.firstName}+' '+${user?.middleName}+' '+${user?.lastName} ]]</b>
            </h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container icons-row">
        <div class="row">
          
			<a href="#" onclick="$('#travel-type-popup').addClass('overlay-alert-popup-show');">
          		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		           	<div class="service-box mt-5 mx-auto">
		              	<i class="fa fa-5x fa-paper-plane text-primary" data-sr-id="3" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
		              	<p class="text-muted mb-0">Create Request</p>
		            </div>
		        </div>
          	</a>
          
          	<a href="/request/approve" th:href="@{/request/approve}">
          		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
	            	<div class="service-box mt-5 mx-auto">
	              		<i class="fa fa-5x fa-thumbs-up text-primary" data-sr-id="4" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
	              		<p class="text-muted mb-0">Approve Request</p>
	            	</div>
	          	</div>
          	</a>
          	
          	<a href="/request/list" th:href="@{/request/list}">
          		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
	            	<div class="service-box mt-5 mx-auto">
	              		<i class="fa fa-5x fa-list text-primary" data-sr-id="4" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
	              		<p class="text-muted mb-0">Request List</p>
	            	</div>
	          	</div>
          	</a>
          	
          	
          	<a href="#" th:href="@{#}" class="disabled-link">
          		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
	            	<div class="service-box mt-5 mx-auto">
	              		<i class="fa fa-5x fa-search text-disabled" data-sr-id="5" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
	              		<p class="text-muted mb-0">Search Request</p>
	            	</div>
	          	</div>
          	</a>
          
        </div>
      </div>
    </section>
	
</div>


