<div class=""  th:fragment="content" >


    <link type="text/css" th:href="@{/css/errorpage.css}" rel="stylesheet">
   
		<h1>Error</h1>
		
		<p class="zoom-area" th:text="${errorMsg}">"Something went wrong !"</p>
		
		<section class="error-container">
		  <span>4</span>
		  <span><span class="screen-reader-text">Error</span></span>
		  <span>4</span>
		</section>
		
		<div class="link-container">
		  <a href="/stars" th:href="@{/}" class="more-link">Go to Home Page</a>
		</div>

</div>

