div#overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
}
div#overlay .overlay-content {
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
}
div#overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
div#overlay a:hover, div#overlay a:focus {
    color: #fffaf0;
}
div#overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}