hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #f05f40
}

hr.light {
	border-color: #fff
}

a {
	color: #f05f40;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

a:hover {
	color: #f05f40;
	text-decoration: none;
}

p {
	padding-top: 10px;	
}

a:hover {
	color: #f05f40
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

section#services {
	padding: 6rem 2rem
}

.section-heading {
	margin-top: 0
}

::-moz-selection {
	color: #fff;
	background: #212529;
	text-shadow: none
}

::selection {
	color: #fff;
	background: #212529;
	text-shadow: none
}

.service-box {
	max-width: 400px;
}

.text-primary {
	color: #f05f40 !important
}

.text-disabled {
	color: gray !important
}

a.disabled-link {
	cursor: default;
}

.icons-row {
	padding-top: 50px
}