.sidebar-mini.sidebar-collapse .main-header .navbar {
 	margin-left: 0px;
}
#alert-message, #popup-message {
 	display: none;
}
.overlay-alert-popup {
	opacity: 1;
}
.alert-popup {
 	width : 400px;
 	top : 50%;
 	margin-left: 0px;
 	left: 35%;
}