.btn-block { width: 100%; display:block; height:3em;}
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
html { width: 100%; height:100%; overflow:hidden; }
body { 
	width: 100%;
	height:100% !important;
	font-family: 'Open Sans', sans-serif;
	background: #efefef !important; /*#c1d7dd*/
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size:cover; */
}
.loginMenu { 
	padding: 0px;
    margin: 10px auto 0px auto;
    width: 80%;
    border : 1px solid red;	
}

.loginMenuBlock1 { 
	padding: 0 20px;
    margin: 0px 3px 0px 3px;
    width: 22%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
	
}

.loginMenuBlock2 { 
	padding: 0 20px;
    margin: 0px 3px 0px 3px;
    width: 22%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
	
}

.loginMenuBlock3 { 
	padding: 0 20px;
    margin: 0px 3px 0px 3px;
    width: 22%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
	
}

.loginMenuBlock4 { 
	padding: 0 20px;
    margin: 0px 3px 0px 3px;
    width: 22%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
	
}

.login { 
	padding: 10px;
    margin: 170px auto 0px auto;
    width: 20%;
    height: 25%;
    clear: both;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
	
}
.login h1 { 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center;
	font-size: 20px;
	float: left;
	/* color:#ffffff */ 
}
input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: #ffffff;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #555555;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}

.block1 {
	font-size: 1em;
	color: #db2128;
}

.block2 {
	font-size: 2em;
	color: #db2128;
}
.block3 {
	font-size: 3em;
	color: #db2128;
}
.block4 {
	font-size: 4em;
	color: #db2128;
}

.user-registration {
	margin:-10px 0px 0px 0px; 
	width: 45px;
	height:45px;
	background-image: url("../images/user-registration.png");
	background-repeat: no-repeat;
	background-size:cover;
}

.help-document {
	margin:-10px 0px 0px 0px; 
	width: 45px;
	height:45px;
	background-image: url("../images/help-document.png");
	background-repeat: no-repeat;
	background-size:cover;
}

.help-desk {
	margin:-10px 0px 0px 0px; 
	width: 45px;
	height:45px;
	background-image: url("../images/help-desk.png");
	background-repeat: no-repeat;
	background-size:cover;
}

.password-reset {
	margin:-10px 0px 0px 0px; 
	width: 45px;
	height:45px;
	background-image: url("../images/password-reset.png");
	background-repeat: no-repeat;
	background-size:cover;
}
