@charset "utf-8";
/* CSS Document */

@media only screen and (max-height:260px){
.landing-page .mid-container								{position:static; margin:0 auto;}
}

@media only screen and (max-width:320px){
.edit-profile-body .column2, .edit-profile-body .column4 	{width:100% !important;}
}
@media only screen and (max-width : 480px) {
.edit-profile-body .profile-status-box .left-panel			{width:100%;}
/*.forex-watchlist-box .watchlist-tile 						{width:98% !important;}	
.forex-rate-box .monthly-budget-rate .column3 				{width:100% !important;}*/
}

@media only screen and (max-width:1024px){
.travel-support .travel-support-search .to-float			{width:210px !important}
.travel-support .travel-support-search .to-float input 		{width:100%}

.travel-support .travel-support-search .from-float			{width:222px !important}
.travel-support .travel-support-search .from-float input 	{width:100%}

.travel-support .travel-support-search .search-form  		{width:468px !important}
.travel-support .travel-support-search .search-form .change-loc {right:216px !important}
.travel-support  .travel-support-search  input.wd-results 	{width:149px !important;}
.travel-support  .travel-support-search .from-float-results {margin:0;  width:189px;  position:relative;}
.travel-support  .travel-support-search .to-float-results	{margin:10px 0 0 22px !important; width:174px !important;  position:relative;}
.travel-support  .travel-support-search .search-form-results  .change-loc-results
															 {right:51px !important; top:28px !important}
.travel-support  .travel-support-search .search-form-results {width:278px !important}
.theme-container 											 {height: 160px; margin-left: -22%; padding: 0 6px 0 22%; position: absolute; top: 82px; width: 105%; box-sizing: border-box;}
.theme-options label 										 {width:24%;}
.theme-box .arrow               							 {left:64%;}
.distance													 {padding: 3px !important; border-radius: 3px;  min-height: 32px; margin-left:5px !important;   margin-bottom: 11px;}
.dist-ryt-marg 												 {margin-right: 77px !important}
.travel-support .travel-info-bg-result 						 {height:104px !important;}

.mrg15 														 {margin-right:5px !important}
.top-marg 													 {margin-top:15px; float:left !important; margin-left:10px !important}
.travel-support  .travel-support-search .search-form-results  .change-loc-results
															{background: url(../images/travel-support/travel-sprite.png) no-repeat -49px -91px !important;}
.lft-marg 													{margin-left:10px !important}
.direction-back												{right: 4px !important; top: 20px !important;}
.lft-marg 													{margin-left:10px !important;}
.travel-support .travel-support-search .search-form-direction
															{width:400px !important;}
.travel-support .travel-support-search input.diff-location 	{width:375px !important;}
.travel-support .travel-support-search .search-diff-location{width:377px !important}

/*Forex Rate */
/*.forex-rate-left-body										{width:100%;}
.forex-rate-right-body										{display:none;}	
.forex-watchlist-box .watchlist-tile 						{width:48%;}
.tile-currency-check 										{height:88px; min-width:0; overflow:hidden; width:0; animation: tileCurrencyCheck-2 1s ease; transition:.5s width ease;}
.forex-rate-calculator										{display:block;}*/
.edit-profile-body .edit-profile-left-body					{width:100%}
.edit-profile-body .edit-profile-right-body					{margin-left:0%;}
.edit-profile-header-body,
.edit-profile-wrapper,
.edit-forex-wrapper											{width:100%; min-width:100%;}
.edit-profile-body .crop-profile 							{width:49%; float:left; margin:0 0 1% 0}
.edit-profile-body .user-information-box 					{float:right; width:49%; margin:-120px 0 0 1%}
.edit-profile-body .admin-user,
.edit-profile-body .corporate-user							{min-height:auto;}
.edit-profile-body user-information-box  .user-information-body
															{width:100%; float:left;}
.user-profile-extended.theme2 .banner						{width:51%;}															

.edit-profile-body .column4									{width:50%;}
.user-profile-extended .description 						{padding:40px 0 0 0;}
.edit-profile-body .user-information-box .user-information-body .column2
															{width:100%;}
.user-profile-extended.theme2 .banner 						{background:url(../images/widget/edit-profile/theme-edit/easter/3.jpg) no-repeat center top;}
/*05-12-2016*/
.weather-details .current-county-detail						{width:100%!important; border-bottom:1px solid #e0e0e0 !important; }
.country-name												{width:100%!important; padding:0 0 0 0!important; border-left:0px solid #e0e0e0!important;}
.country-name .plac-img										{width:auto!important;}
.weather-border												{width:600px!important;}
.weather-center												{width:600px!important;}
.weather-right												{width:600px!important;}
}

@media only screen and (max-width:1400px){
.lft-marg 												  	{margin-left:20px !important;}
}

@media only screen and (min-width:1120px){
	.left-body						{width:60%;}
	.right-body						{margin-left:60%;}
	.tile-body ul					{margin:0 -13px 0 0;}
	.tile-body li					{/*height:200px; */width:33%;}
	.tile-body li.col2				{width:66%;}
	.tile-body li.col3				{width:100%;}
	.tile-body .read-more-forex		{top:65%;}
	
	/*Breathe In*/
	.breathe-in .inner-nav			{width:230px;}
	.breathe-in .verticle-line		{left:245px;}
	.breathe-in .inner-content		{margin:0 0 0 265px;}
	
	/*Vastu*/	
	.vaastu .verticle-line			{left:385px;}
	.vaastu .inner-nav				{width:370px;}
	.vaastu .inner-content			{margin:0 0 0 400px;}
	.vaastu .options .inner-nav		{width:165px;}
	
	/*Auto Scenario*/
	.auto-scenario .verticle-line	{left:255px;}
	.auto-scenario .inner-nav		{width:245px;}
	.auto-scenario .inner-content	{margin:0 0 0 270px;}
	
	/*Forex Rates*/
	.learn-forex .verticle-line		{left:297px;}
	.learn-forex .inner-nav			{width:280px;}
	.learn-forex .inner-content		{margin-left:319px;}
	.learn-forex .table-container table
									{margin:0 1% 0 0;}
	
	/*SMG Locations*/
	.smg-location .verticle-line	{left:555px;}
	.smg-location .inner-nav		{width:533px;}
	.smg-location .inner-content	{margin:0 0 0 577px;}
	
	/*Group & Company Newsletter*/
	.group-company-newsletter .verticle-line
									{left:528px;}
	.group-company-newsletter .inner-nav
									{width:515px;}
	.group-company-newsletter .inner-content
									{margin:0 30px 0 540px;}
	/*.groupnews						{background:#da2128 url(../images/widget/group-company-newsletter/tile-pic-left.png) no-repeat -65px -65px; background-size:95% auto; overflow:hidden; position:relative;}
	.groupnews:hover				{background:#da2128 url(../images/widget/group-company-newsletter/tile-pic-left.png) no-repeat -65px -65px; background-size:98% auto;}*/
	
	/*.share-price .inner-nav			{margin:0%; float:left; padding-top:3.5%;}*/
	.share-price #inner-colone		{display:block;}
	
	.company-websites #inner-colone	{display:block;}
	
	/*pulse-motherson tile*/
	.tile-body .pulse-motherson i 		{ top:0px; left:37px; }
	/*m-pedia tiles*/
	
		/*Edit Profile*/
	.edit-profile-body .edit-profile-left-body	{width:60%}
	.edit-profile-body .edit-profile-right-body	{margin-left:60%;}
	
	/*Forex Rate */
	/*.forex-rate-left-body				{width:75%;}
	.forex-rate-right-body				{margin-left:75%;}	
	.tile-currency-check 				{height:88px; min-width:0; overflow:hidden; width:0; animation: tileCurrencyCheck 1s ease; transition:.5s width ease;}
	.forex-rate-calculator 				{display:none;}*/

}
/*28-9-2015*/
@media only screen and (max-width:1120px){
.technical-papers .item-box .half-item-left .figure-thumb, .technical-papers .item-box .half-item-left-1 .figure-thumb						
										{width:70px;}
.technical-papers .item-box .half-item-left .text-container2, 
.technical-papers .item-box .half-item-left-1 .text-container2
									{margin-left:60px; }
.technical-papers .item-box .half-item-left .figure-thumb img	{width:105px; margin-left:-50px;}
.technical-papers .item-box .half-item-left a:hover .text-container2, 
.technical-papers .item-box .half-item-left-1 a:hover .text-container2
									{margin-left:20px;}
									
.half-item-rightSide .figure-thumb 	
									{width:60px;}
.technical-papers .item-box .half-item-rightSide .figure-thumb img	
									{width:120px;}	
.half-item-rightSide .textWraper 	
									{margin-right:30px;}

.half-item-leftSide .figure-thumb 	
									{width:70px;}
.technical-papers .item-box .half-item-leftSide .figure-thumb img	
									{width:120px; margin-left:-50px;}	
.half-item-leftSide .textWraper 	
									{margin-left:70px;}
.half-item-leftSide a:hover .textWraper
									{margin-left:40px;}									
.tile-body .retimer-main			{background:url(../images/widget/banner-smgqcc-02-main.png) no-repeat center center; background-size:100%; width:100%; height:100%;}

	
	
}
/*End's 28-9-2015*/
@media only screen and (min-width:1119px){
	.tile-body .retimer-main		{background:url(../images/widget/banner-smgqcc-main.png) no-repeat center center; background-size:100%; width:100%; height:100%;}
	}
@media only screen and (min-width:1120px){
	.tile-body .retimer-main		{background:url(../images/widget/banner-smgqcc-main.png) no-repeat center center; background-size:100%; width:100%; height:100%; -ms-transition:.4s all ease-out; -moz-transition:.4s all ease-out; -o-transition:.4s all ease-out; -webkit-transition:.4s all ease-out; transition:.4s all ease-out;}
	}

@media only screen and (min-width:1180px){	
	.tile-body .retimer-main		{background:url(../images/widget/banner-smgqcc-main.png) no-repeat center center; background-size:100%; width:100%; height:100%;}
	.left-body						{width:58%;}
	.right-body						{margin-left:58%;}
	.tile-body .read-more-forex		{top:67%;}
	
	/*Group & Company Newsletter*/
	.group-company-newsletter .verticle-line
									{left:528px;}
	.group-company-newsletter .inner-nav
									{width:515px;}
	.company-websites #inner-coltwo	{display:block;}
	
	.share-price #inner-coltwo		{display:block;}
		
	/*pulse-motherson tile*/	
	.tile-body .pulse-motherson i 	{ bottom:30px; right:37px; }
	
	/*Group Videos*/
	.group-videos .video-section	{width:570px;}
	.group-videos .inner-content	{margin:0 0 0 602px;}
	
	/*Edit Profile*/
	.edit-profile-body .edit-profile-left-body	{width:50%}
	.edit-profile-body .edit-profile-right-body	{margin-left:50%;}
	
	/*.forex-rate-left-body				{width:75%;}
	.forex-rate-right-body				{margin-left:75%;}	*/
	
}

@media only screen and (min-width:1280px){
	.smr-awards-body .cols					{width:19%!important;}
	/*Breathe In*/
	/*.breathe-in .inner-nav			{width:275px;}
	.breathe-in .verticle-line		{left:257px;}
	.breathe-in .inner-content		{margin:0 0 0 284px;}*/
	.breathe-in .scrolling-data li	{width:31%;}
	
	/*Vastu*/
	.vaastu .scrolling-data			{height:301px;}
	.vaastu .scrolling-data-active	{height:320px;}
	
	/*Group & Company Newsletter*/
	.group-company-newsletter .verticle-line
									{left:528px;}
	.group-company-newsletter .inner-nav
									{width:515px;}
	.company-websites #inner-colone	{display:block; padding:0em;}
	.company-websites #inner-coltwo	{display:block; padding:0em;}
	
	
	.view-profile .inner-nav li		{height:75px; width:85%;}
	
}

@media only screen and (min-width:1366px){
	.smr-awards-body .cols					{width:19%!important;}
	.tile-body ul					{margin:0 -14px 0 0;}
	
	/*Breathe In*/
	/*.breathe-in .inner-nav			{width:27%;}
	.breathe-in .verticle-line		{left:28%;}
	.breathe-in .inner-content		{margin:0 0 0 32%;}*/
	.map, .mapPin					{left:7px;}
	/*.compass						{top:6em;}
	.compass-inside					{top:1em; right:.5em;}
	.price							{top:6.5em; left:6.5em;}*/
	.share-price .share-pattern		{background-position:center bottom;}
	.share-price .live-price		{height:40px;}
	
	
	/*Vastu*/
	.vaastu .scrolling-data			{height:284px;}
	.vaastu .scrolling-data-active	{height:303px;}
	
	/*30-10-2015*/
	/*.article-tiles .article-list ul	{margin:0 -1.75em 0 0;}*/
	
	/*Team One*/	
	.feedbackform .team-one						{left:12%; }


/*Group & Company Newsletter*/
	.group-company-newsletter .verticle-line
									{left:528px;}
	.group-company-newsletter .inner-nav
									{width:515px;}
	
}

@media only screen and (min-width:1440px){
}

@media only screen and (min-width:1600px){
	
}

@media only screen and (max-width:640px){
.edit-profile-body .edit-profile-right-body .joined-group, .edit-profile-body .edit-profile-right-body .skill-group
															{width:100%;}
.edit-profile-body .edit-profile-right-body .qualifications, .edit-profile-body .edit-profile-right-body .interest									
															{margin-left:0%;}
.edit-profile-body .edit-profile-right-body .joined-group-inner, .edit-profile-body .edit-profile-right-body .skill-group-inner
															{margin:0;}	
.edit-profile-body .column2,
.edit-profile-body .column4									{width:100% !important;}

/*.forex-rate-left-body .left-nav								{display:none;}
.forex-rate-left-body .article-body							{margin:0;}
.forex-rate-box .tab-content .column2 						{width:100%;}
.forex-rate-box .tab-content .column3						{width:100%;}*/
.edit-profile-body .profile-status-box .right-panel .tabs-blood-group,
.edit-profile-body .profile-status-box .right-panel .tabs-passport,
.edit-profile-body .profile-status-box .right-panel .tabs-anniversary
															{margin:0 0 .25em 0;}	
.edit-profile-body .crop-profile 							{width:100%;}
.edit-profile-body .user-information-box 					{width:100%; margin:0;}
.edit-profile-body .admin-user								{min-height:auto;}
.edit-profile-body .user-information-box .user-information-body
															{width:100%; float:left;}
.user-profile-extended.theme2 .banner						{width:auto;}															
}

@media only screen and (max-width:768px){
/*.forex-rate-box .tab-content .column3						{width:100%;}
.forex-rate-box .tab-content .column2 						{width:100%;}*/
}


/*Start for Only IE*/
/*@media screen\0 {
    .share-price .inner-nav			{padding-top:20px;}
	.tile-body .share-motherson img	{bottom:-21px;}
}*/

@keyframes tileCurrencyCheck 		{
											0% 		{min-width:0; height: 0; opacity:0; width: 0;}
											100% 	{min-width:156px; height:88px; opacity:1; width: 23%;}
									}	
@keyframes tileCurrencyCheck-2 		{
											0% 		{min-width:0; height: 0; opacity:0; width: 0;}
											100% 	{min-width:156px; height:88px; opacity:1; width: 48%;}
									}											 