#slider .arrow-box 	{background-color:#00bb1a; height:32px; width:45px;  position:absolute; left:-25px;  border-top-left-radius:5px; border-bottom-left-radius:5px;}
#slider .arrow-box .arrow-fwd,
#slider .arrow-box .arrow-back 	{width:24px; height:24px; border-radius:100%; background-color:#048115; position: absolute; left: 6px; top: 4px;}
#slider .arrow-box .arrow-fwd:before {content: ''; background:url(../images/toolbar-icon.png) no-repeat top left; width:18px; height:18px; position: absolute; left: 6px; top: 3px; }
#slider .arrow-box .arrow-back:before  {content: ''; background:url(../images/toolbar-icon.png) no-repeat 2px -31px; width:18px; height:18px; position: absolute; left: 6px; top: 3px }	
.slider{bottom:0; right:0;  position:fixed;	z-index:10000; width:446px; padding:0px; /*box-shadow: 0 0 8px gray;*/	overflow:auto;	background: #fff; box-shadow:0 1px 15px rgba(0,0,0,0.5); display:none;} 
.sidebar-body {background:#fff}
#sidebar{cursor:pointer;position:absolute;	top:200px;	left:135px;	/*box-shadow: 0 0 8px gray;*/ }
#sidebar1{cursor:pointer; position:absolute; top:200px;	left:135px;}
.sidebar-body .tabbable .box-header{background:#424045; padding:10px;}
.sidebar-body .tabbable .sub-header-scope{background:#fee502; padding:5px 10px; font-size:12px; color:#424045}
.sidebar-body .tabbable .box-header h1{font-size:14px; color:#fff; margin:0}
.sidebar-body  .link-muted {color: #f36121; font-size:12px; font-weight:bold; text-shadow:none}
.sidebar-body .tabbable .box-header .box-actions {margin-top: -20px; margin-bottom: 0;text-align: right; padding:0; color:#fff}
.sidebar-body .tabbable .box-header .box-actions a {color:#ffff;}
.sidebar-body .tabbable .box-header .box-fullscreen {display: block; z-index: 9999; position: fixed; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0;  overflow: auto;}
.requisition-details-scope{display:none; padding:10px; background:#fffef6; box-shadow:0 1px 2px rgba(0,0,0,0.5);}
.sub-header-scope{position:relative}
.sub-header-scope button {font-size:19px; background:none; border:none;position:absolute; right:5px; top:0px;}
.comments-note{padding:0px; color:#da2128; font-weight:bold; margin:5px 0}
.tab-pane{padding:10px}
.slider .form-group button{font-size:14px; padding:3px 15px;}
.slider .table td{font-size:11px; border:solid 1px #D9D9D9 !important; }