<div class="" th:fragment="content" ng-controller="loginController">
	
	<link type="text/css" href="'/stars/css/login.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/login.css?buildstamp='+${buildstamp}" rel="stylesheet">
	
	<div class="login">
		<h1>Please Sign In</h1>
	    
	    <form name="loginForm" method="POST" action="/stars/login" th:action="@{/login}">
	    	<input type="text" name="userName" id="userName" placeholder="Username">
	        <input type="password" name="password" id="password" placeholder="Password">
	        
	        <input type="hidden" name="encPassword" id="encPassword" value="">
	        <input type="hidden" name="language" id="language" value="en_US" th:value="${language}">
	        
	        <button class="btn btn-success btn-block btn-large" onclick="return checkData();">Login</button>
	    </form>
	</div>
	
	<script type="text/javascript" src="'/stars/js/Encryption.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/Encryption.js?buildstamp='+${buildstamp}"></script>
	<script type="text/javascript" src="'/stars/controllers/loginController.js?buildstamp='+${buildstamp}" th:src="@{/}+'controllers/loginController.js?buildstamp='+${buildstamp}"></script>
	
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			displayErrorMessage();
		});
		
		function displayErrorMessage() {
			var message = /*[[${message}]]*/ "";
			
			setTimeout(function(){
				if($.trim(message) != '') {
					displayPopupMessage(message);
				}
			},500);
		}
		
		function displayPopupMessage(message) {
			message = $.trim(message);
			
			$("#popupMessage").html(message);
			$("#popup-message").show();
		}
		
		function displayAlertMessage(message) {
			message = $.trim(message);
			
			$("#alertMessage").html(message);
			$("#alert-message").show();
		}
		
		function checkData() {
			var userNameElem = $("#userName");
			var passwordElem = $("#password");
			
			if($.trim(userNameElem.val()) == "") {
				displayAlertMessage(/*[[#{alert.enterusernametologin}]]*/ 'Please enter username to login');
				userNameElem.focus();
				return false;
			}
			
			if($.trim(passwordElem.val()) == "") {
				displayAlertMessage(/*[[#{alert.enterpasswordtologin}]]*/ 'Please enter password to login');
			 	passwordElem.focus();
				return false;
			}
			
			if(encryption()) {
				$("[name='loginForm']").submit();
			}
		}
		
		function encryption() {
			var password = $("#password").val();
			$("#encPassword").val(encrypt(password));
			$("#password").val("");
			
			return true;
		}
		
	</script>
</div>