<header class="main-header" th:fragment="header">
	
	<nav class="navbar navbar-static-top">
	    <div class="logo" th:title="#{app.name.desc}">
	        <span class="logo-lg">
	            <img src="'/stars/images/logo-inside.jpg?buildstamp='+${buildstamp}" th:src="@{/}+'images/logo-inside.jpg?buildstamp='+${buildstamp}" alt="" />
	        </span>
	    </div>
	</nav>
	
</header>