<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title th:text="#{app.name.desc}">STARS</title>
		
		<!--**************************************** Tab Icons ****************************************-->
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="icon" type="image/x-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="shortcut icon" type="image/x-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="shortcut icon" type="image/ico">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="apple-touch-icon">
		<link href="'/stars/images/airport-20.ico?buildstamp='+${buildstamp}" th:href="@{/}+'images/airport-20.ico?buildstamp='+${buildstamp}" rel="apple-touch-icon-precomposed">
		
		<!--**************************************** CSS Files ****************************************-->
		<link type="text/css" href="'/stars/plugins/bootstrap-3.3.7/css/bootstrap.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/bootstrap-3.3.7/css/bootstrap.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/plugins/font-awesome-4.7.0/css/font-awesome.min.css?buildstamp='+${buildstamp}" th:href="@{/}+'plugins/font-awesome-4.7.0/css/font-awesome.min.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		
		<link type="text/css" href="'/stars/css/AdminLTE.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/AdminLTE.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/css/screen.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/screen.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		<link type="text/css" href="'/stars/css/login-template.css?buildstamp='+${buildstamp}" th:href="@{/}+'css/login-template.css?buildstamp='+${buildstamp}" media="screen, projection" rel="stylesheet">
		
		<!--**************************************** JavaScript Files *********************************-->
        <script type="text/javascript" src="'/stars/plugins/angular-1.7.2/angular.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'plugins/angular-1.7.2/angular.min.js?buildstamp='+${buildstamp}"></script>
        <script type="text/javascript" src="'/stars/js/app.config.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/app.config.js?buildstamp='+${buildstamp}"></script>
        
		<script type="text/javascript" src="'/stars/js/jquery-3.3.1.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'js/jquery-3.3.1.min.js?buildstamp='+${buildstamp}"></script> 
		<script type="text/javascript" src="'/stars/plugins/bootstrap-3.3.7/js/bootstrap.min.js?buildstamp='+${buildstamp}" th:src="@{/}+'plugins/bootstrap-3.3.7/js/bootstrap.min.js?buildstamp='+${buildstamp}"></script>
		
	</head>
	
	<body class="hold-transition skin-red sidebar-mini sidebar-collapse" ng-app="app-dashboard">
	
		<div class="wrapper wrapper-scope">
		
			<header th:replace="login/login-header :: header">Header</header>
			
			<div th:replace="${view} :: content">Content</div>
			
			<footer th:replace="login/login-footer :: footer">Footer</footer>
			
		</div>
		
		<div id="popup-message" class="overlay-alert-popup">
	        <div class="alert-popup confirm">
	            <div class="content">
	                <div class="message-content">
	                    <p id="popupMessage" th:utext="${message}"></p>
	                </div>
	                <div class="action-scope">
	                    <button id="login" class="btn-common green-btn pop-up-close" onclick="$('#popup-message').hide();">Login</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div id="alert-message" class="overlay-alert-popup">
	        <div class="alert-popup confirm">
	            <div class="content">
	                <div class="message-content">
	                    <p class="question">Validation Failed</p>
	                    <p id="alertMessage"></p>
	                </div>
	                <div class="action-scope">
	                    <button id="close" class="btn-common red-btn pop-up-close" onclick="$('#alert-message').hide();">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	</body>
	
</html>